@import "variable";

.blog-right-panel {
	.blog-heading {
		font-size: 20px;
		font-family: 'montserratmedium';
		padding: 14px 20px;
		display: block;
	}
	.category {
		li {
			padding: 15px;
			border-bottom: 1px solid $grey-border;
			.blog-heading {
				padding: 0;
			}
			a{
				color: $text-default;
			}
		}
		li:last-child{
			border-bottom: 0;
		}
	}
}

.blog-left-panel .media-body, .blog-left-panel .list-of-needs {
	color: $nav-link;
}

.blog-banner {
	background-position: center;
	background-size: contain;
	height: 200px;
	background-repeat: no-repeat;
}

.recent-post-blog-image {
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 60px;
}

.blog-img-thumbnail {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-bottom: 20px;
	height: 150px;
}

.old-new-post a{
	color: $text-default;
	span {
		vertical-align: middle;
		margin: 0 5px;
	}
}
.blog-media {
	.media{
		margin-bottom: 30px;
		.blog-post-person {
			background-repeat: no-repeat;
			height: 115px;
			width: 130px;
		}
		.blog-heading span {
			margin-right: 15px;
			font-size: 20px;
			font-family: 'montserratmedium';
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.blog-recently-viewed {
	.card {
		border:0;
		box-shadow: 0 1px 2px $border-color;
		@include border-radius(0px);
		.card-block {
			padding: 10px;
		}
		.card-img-top {
			height: 160px;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.card-title {
			font-size: 14px;
		}
	}
}

