@import "variable";
.careers {
	.our-team {
		.home-options .split-left-container, .home-options .split-right-container {
			height: 387px;
			background-position: center;
		}
		.info-details {
			line-height: 40px;
			font-size: 20px;
			padding: 0 15px;
		}
	}
	.customer-service .img-holder {
		height: 60px;
	}
	.job-listing {
		thead {
			background-color: $nav-tab-link;
			color: #fff;
		}
		.table th, .table td {
			border:0;
		}
	}
}
.application-form {
	.nav-tabs {
		overflow-x: auto;
		.nav-item {
			margin-bottom: 0;
			.nav-link {
				color: $nav-tab-link;
				padding: 10px 20px;
				white-space: nowrap;
				&.active {
					color: $text-danger;
					@include border-radius(0);
					border: 0;
					border-bottom: 2px solid $text-danger;
				}
				&:hover {
					border-top-color: transparent;
					border-left-color: transparent;
					border-right-color: transparent;
				}
			}
		}
	}
	
	.radio-text {
		line-height: 1.8;
	}

	.app-form {
		.applicant-resume {
			height: 60px;
			width: 60px;
			border: 1px solid $grey-border;
			@include border-radius(4px);
		}
	}
	.last-grade {
		.grade-rounded {
			width: 50px;
			height: 50px;
			@include border-radius(50%);
			border: 1px solid $nav-link;
			text-align: center;
			padding: 10px 0;
			font-family: 'montserratmedium';
			font-size: 24px;
			color: $nav-link;
			line-height: 29px;
			margin-right: 40px;
		}
		input[type="radio"]{
			display: none;
		}
		input[type="radio"]:checked + label.grade-rounded {
			background-color: $text-danger;
			border: 0;
			color: #fff;
		}
	}
}

