@import "variable";

.dealer-cover-img {
	height: 150px;
	background-color: $dealer-site-grey;
	margin-bottom: 20px;
	@include border-radius(4px);
	padding: 10px;
	img {
		height: 132px;
	}
}
.dealer-loggedin {
	background-color: $dealer-site-grey;
	.dealer-cover-pic {
		height: 450px;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 155px;
		.update-cover-pic {
			padding: 14px;
			background-color: rgba(0, 0, 0, .1);
			border-bottom-left-radius: 4px;
			float: right;
		}
		.dealer-info {
			height: 310px;
			width: 80%;
			top: 50%;
			position: relative;
			.nav-tabs {
				background-color: $dealer-site-grey;
				padding: 1px 40px;
				float: right;
				border-radius: 4px 4px 0 0;
				.nav-link {
					padding: 14px 20px;
					border: 0;
					color: $nav-link;
					&.active {
						color: $text-danger;
						background-color: transparent;
					}
				}
			}
		}
		.profile-details {
			box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
			@include border-radius(4px);
			border-top-right-radius: 0;
			height: 325px;
			.dealer-pic {
				height: 200px;
				width: 200px;
				background-repeat: no-repeat;
				background-size: contain;
			}
			.nav-link {
				color: $text-default;
			}
		}
	}
	.tab-content > .tab-pane {
		.tab-content > .tab-pane {
			padding: 50px 0;
		}
	}
}

.custom-nav-tabs {
	// justify-content: center;
	.nav-link {
		padding: 14px 20px;
		margin: 0 15px;
		border: 0;
		color: $nav-link;
		&.active {
			color: $text-danger;
			border-bottom: 2px solid $text-danger;
			background-color: transparent;
		}
	}
}
.document-holder {
	width: 250px;
	// height: 396px;
	margin: 0 auto;
	padding: 20px;
	@include border-radius(4px);
	.doc-bg.demo-bg {
		height: 150px;
	}
	.doc-bg {
		background-repeat: no-repeat;
		background-size: cover;
		// margin: 0 auto;
		// width: 210px;
		height: 210px;
	}
	.btn-danger {
		font-size: 14px;
		padding: 8px 6px;
	}
	
}
.contracts-content {
	font-size: 14px;
	li {
		margin-bottom: 20px;
	}
	.app-form small {
		font-size: 14px;
	}
}
#orderHistory,
#quote {
	table {
		font-size: 14px;
		thead{
			background-color: $dealer-site-grey;
			th {
				font-weight: normal;
			}
		}
	}
	
	.order-img {
		width: 80px;
		height: 80px;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

#myAccount {
	.demo-product {
		font-size: 14px;
		.product-desc {
			color: $nav-link;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			height: 60px;
			margin: 20px 0;
		}
	}
}

// .request-new-holder {
// 	border:1px solid $text-danger;
// 	.request-new {
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		cursor: pointer;
// 		img {
// 			margin-bottom: 70px;
// 		}
// 	}
// }