@import "variable";


.features {
	.feature-media-wrapper {
		.feature-media-block {
			margin-bottom: 60px;
			.media-detail {
				font-size: 14px;
				color: $nav-link;
				overflow: hidden;
				max-height: 82px;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
			}
		}
	}
	.embed-responsive {
		height: 400px;
		width: 50%;
		margin: 0 auto;
	}
	#featureaCarouselIndicators {
		.carousel-inner {
			height: 800px;
			margin-bottom: 50px;
			.carousel-item > div {
				background-position: center;
				background-repeat: no-repeat;
				height: 800px;
				width: 100%;
			}
		}
	}


}



@media (max-width: 767px) {
	.card-tile-wrapper {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
}

.card-tile-wrapper {
	position: relative;
	text-align: center;
	margin-bottom: 30px;

	.card-tile-inner {
		display: flex;
		width: 100%;

		.card-tile-image-wrap {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			overflow: hidden;
		}

		.card-tile-image {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 101%;
			min-height: 100%;
			max-width: none;
			width: auto;
		}

		.card-tile-front,
		.card-tile-back {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			background: #333;
		}

		.card-tile-front {
			display: none;
		}

		.card-tile-back {
			position: relative;
			overflow: hidden;
			img {
				opacity: .35;
			}
		}

		.card-tile-content {
			position: relative;
			overflow: hidden;
			z-index: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: 50px 40px;
			color: #fff;
			pointer-events: none;
			font-size: 14px;
			> * {
				width: 100%;
				pointer-events: auto;
			}
			&::before {
				content: '';
			}
			h1, h2, h3, h4, h5, h6, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
				line-height: 1.4;
				color: #fff;
			}

			h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .heading-1 a, .heading-2 a, .heading-3 a, .heading-4 a, .heading-5 a, .heading-6 a {
				color: inherit;
			}

			h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .heading-1 a:hover, .heading-2 a:hover, .heading-3 a:hover, .heading-4 a:hover, .heading-5 a:hover, .heading-6 a:hover {
				color: #f6d014;
			}

			a {
				color: #f6d014;
				&:hover {
					color: #fff;
				}
				.button-link {
					color: #fff;
					&:hover {
						color: #f6d014;
					}
				}
			}
		}

		* + .card-tile-content-title {
			margin-top: 15px;
			font-size: 20px;
			font-family: 'montserratsemibold';
		}

	}


}










@media (min-width: 576px) and (max-width: 767px) {
	.card-tile-content {
		padding: 30px 10px;
	}
	.card-tile-content .button-link {
		font-size: 12px;
	}
}

@media (min-width: 768px) {
	* + .card-tile-content-title {
		margin-top: 22px;
	}
}

@media (min-width: 992px) {
	.card-tile-content {
		min-height: 300px;
	}
	.ie-10 .card-tile-back .card-tile-content,
	.ie-11 .card-tile-back .card-tile-content {
		display: table-cell;
		vertical-align: middle;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.card-tile-content {
		padding: 25px 30px;
		font-size: 14px;
		line-height: 1.5;
	}
}

@media (min-width: 992px) {
	.card-tile-wrapper:hover .card-tile-front {
		transform: rotateY(-180deg);
	}
	.card-tile-wrapper:hover .card-tile-back {
		transform: rotateY(0deg);
	}
	.card-tile-content {
		transform: translateZ(60px);
		transition: all 0.4s ease-out;
	}
	.card-tile-inner {
		position: relative;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-perspective: 1000px;
		perspective: 1000px;
	}
	.card-tile-front,
	.card-tile-back {
		overflow: visible;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
		transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}
	.card-tile-front {
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		transform: rotateY(0deg);
		z-index: 1;
	}
	.card-tile-front .card-tile-image {
		opacity: .35;
	}
	.card-tile-front .card-tile-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	.card-tile-front .card-tile-content > * {
		opacity: 1;
	}
	.card-tile-wrapper_no-cover .card-tile-front .card-tile-image {
		opacity: 1;
	}
	.card-tile-back {
		transform: rotateY(180deg);
		opacity: 1;
	}
	.card-tile-back .card-tile-image {
		opacity: .05;
	}
}

@media (min-width: 1200px) and (max-width: 1399px) {
	.card-tile-content {
		min-height: 270px;
	}
	.card-tile-back .card-tile-content p {
		display: none;
	}
	.card-tile-back .card-tile-content a.button-link {
		font-size: 12px;
	}
}

@media (min-width: 1400px) {
	.card-tile-wrapper .card-tile-content {
		min-height: 360px;
	}
}
