@import "variable";
.find-dealer-banner {
	height: 150px;
	background-repeat: no-repeat;
	background-size: contain;
}
.find-dealer-card {
	.card{
		border: 1px solid $border-color;
		margin-bottom: 30px;

		.card-heading {
			font-size: 20px;
			margin-bottom: 20px;
		}
		.media {
			margin-bottom: 20px;
			p{
				font-size: 14px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

