@import "variable";

.footer {
	// position: absolute;
	// bottom: 0;
	background-color: $text-danger;
	width: 100%;
	font-size: 14px;
	color: #fff;
	.footer-social-links, .footer-nav-links {
		border-bottom: 1px solid $white-border-color;
	}
	.footer-nav-links {
		padding: 30px 20px;
		justify-content: space-between;
		> ul li:first-child {
			font-family: 'montserratsemibold';
		}		
		li {
			padding: 4px 0;
		}
	}
	.footer-nav-links, .footer-copyright {
		li a {
			color: #fff;
		}
	}
	.footer-copyright {
		justify-content: space-between;
		.terms-privacy {
			li {
				border-right: 1px solid #fff;
				padding: 0 20px
			}
			li:last-child {
				border-right:0;
				padding-right: 0;
			}
		}
	}
	.footer-social-links, .footer-copyright {
		padding: 20px;
	}
}
.footer-information {
	border-top: 1px solid $white-border-color;
	font-size: 14px;
	padding: 30px;
	.widget-title {
		font-size: 14px;
		font-family: 'montserratsemibold';
	}
	.widget_nav_menu .menu{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		li {
			line-height: 2;
		}
	}
	.footer-img-align{
		display: flex;
		justify-content: center;
		align-self: center;
	}
}
.footer-creditibility {
	border-top: 1px solid $white-border-color;
	.widget-title {
		font-size: 14px;
		margin-bottom: 0;
	}
	.terms-privacy-block .widget-title{
		border-right: 1px solid #fff;
		padding: 0 10px;
		&:last-child {
			border-right:0;
			padding-right: 0;
		}
	}
}