@import "b/bootstrap" ;
@import "font";
@import "common";
@import "navbar";
@import "variable";
@import "button";
@import "dealer";
@import "footer";
@import "product";
@import "product_detail";
@import "find_dealer";
@import "contact";
@import "whats_new";
@import "feature";
@import "our_company";
@import "blog";
@import "home";
@import "careers";
@import "dealer-site";
@import "responsive";

html {
	position: relative;
	height: 100%;
}
body {
	font-family: 'montserratregular';
	color: $text-default;
	min-height: 100%;
	position: relative;
	// padding-bottom: 348px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.carousel {
	.carousel-indicators{
		margin-bottom: -50px;
		li {
			max-width: 8px;
			height: 8px;
			background-color: $nav-link;
			@include border-radius(50%);
			&.active {
				max-width: 10px;
				height: 10px;
				background-color: $text-danger;
				bottom: 1px;
			} 
		}
	}
	.carousel-control-prev, .carousel-control-next {
		opacity: 1;
		width: 50px;
		height: 50px;
		top: 50%;
		transform: translateY(-50%);
	}
	.carousel-control-prev-icon {
		width: 21px;
		height: 36px;
		background-image: url("../images/icons/icon_arrow_left.svg");
	}
	.carousel-control-next-icon {
		width: 21px;
		height: 36px;
		background-image: url("../images/icons/icon_arrow_right.svg");
	}
}

