@import "variable";

.our-company {
	.company-people-count {
		font-size: 40px;
		font-family: 'montserratsemibold';
		margin: 25px 0;
	}
	.media-description {
		color: $nav-link;
		font-size: 14px;
	}
}


// customer service
.customer-service {
	.img-holder {
		width: 64px;
		height: 44px;
		margin-right: 20px;
	}
	.customer-service-modal a{
		color: $nav-link;
		cursor: pointer;
	}

	.form-control-state {
		width: 360px;
	}
}

//faq

.faq {
	.card {
		border: 0;
		border-bottom: 1px solid $border-color;
		@include border-radius(0);
		margin-bottom: 30px;
		.icon-collapse {
			background-image: url("../images/icons/icon_collapse_up.svg");
			display: inline-block;
			width: 15px;
			height: 9px;
			margin: 8px auto;
			transition: .2s ease-in;
		}
		.card-header {
			border:0;
			background-color: transparent;
			a {
				color: $text-danger;
				text-decoration: none;
			}
			.collapsed {
				color: $text-default;
				.icon-collapse {
					-webkit-transform: rotate(-180deg);
					-moz-transform:    rotate(-180deg);
					-ms-transform:     rotate(-180deg);
					-o-transform:      rotate(-180deg);
					transform:         rotate(-180deg);
				}
			}
		}
		.card-block {
			color: $nav-link;
		}

	}
	.icon-question {
		background-image: url("../images/icons/icon_question.svg");
		background-repeat: no-repeat;
		display: inline-block;
		width: 16px;
		height: 19px;
		vertical-align: middle;
		margin-right: 10px;
	}
	
}