@import "variable";

.product-detail {
	.product-detail-img {
		height: 200px;
		background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	}
	.product-detail-heading {
    font-family: 'heavitasregular';
	}
	.product-detail-code {
    font-family: 'montserratmedium';
	}
}
.color-options {
	.card {
		border:0 ;
	}
	input[type="checkbox"]{
		display: none;
	}
	:checked + label img {
		border:5px solid $text-danger;
	}
}

@media (min-width: 768px) {
	.product-detail .product-detail-img {
		height: 500px;
		width: auto;
	}
}