@import "variable";


@media (min-width: 768px) {
		// navbar
		.custom-primary-header .navbar-nav .nav-link {
			padding: 5px 15px;
		} 
		.custom-secondary-header .navbar-nav .nav-link{
			padding-left: 20px;
			padding-right: 20px;
		}
		.customer-service {
			.navbar-nav {
				.nav-link {
					border-right:1px solid  $nav-link;
					padding: 0 20px;
				}
				&:last-child {
					border-right: 0;
				}
			}
		}

		.news-letter {
			padding: 40px;
		}
		#Cmessage {
			height: 208px;
		}
		.office-warehouse-location .office-location {
			flex: 0 0 20%;
			max-width: 20%;
		}
		.find-dealer-banner {
			height: 278px;
			background-size: 100%;
		}
		// blog
		.blog-banner { 
			height: 300px;
		}
		.blog-media .media:nth-child(even)  {
			margin-left: 70px;
		}
	 // home 
	 .home-blog-event .blog {
	 	border-right: 1px solid $border-color;
	 }
	 #zipCodeModal, #subscribeModal {
	 	.modal-content {
	 		padding:0 30px;
	 	}
	 }
	}


	@media (min-width: 991px) {
		.custom-primary-header {
			.navbar-nav {
				.nav-item {
					padding: 12px 0;
					.nav-link {
						padding: 0 20px;
						border-right: 1px solid $text-danger;
					}
					&:last-child .nav-link{
						border-right:0;
					}
				}
			} 
			.dealer-dropdown {
				&:hover > .dropdown-menu {
					display: block;
				}
				.dropdown-menu {
					&:before {
						content: "";
						position: absolute;
						top: -20px;
						left: 10px;
						border-bottom: 20px solid #fff;
						border-left: 15px solid transparent;
						border-right: 15px solid transparent;
						z-index: 2;
					}
					&:after {
						content: "";
						position: absolute;
						border-bottom: 19px solid rgb(200, 205, 207);
						border-left: 15px solid transparent;
						border-right: 15px solid transparent;
						top: -20px;
						left: 10px;
					}
					a:hover {
						color: $text-danger;
						background-color: transparent;
						cursor: pointer;
					}
				}
			}
		}
		.navigation-menu {
			margin-left: auto;
		}
		.find-dealer-banner {
			height: 600px;
		}
		.our-company .testimonials {
			width: 900px;
		}
	// blog
	.blog-banner { 
		height: 450px;
	}
}

@media (max-width: 768px) {
	.dealer-dropdown .dropdown-menu {
		border:0;
		margin-top: 0;
		padding: 0;
	}
	.footer .footer-nav-links{
		ul:first-child, ul:last-child {
			display: none;
		}
	}
	.our-company .banner-img img{
		width: 100%;
	}
}
@media (max-width: 767px) {
	.custom-primary-header { 
		background-image: none !important;
	}
	.accessories-block{
		img {
			width: 100px;
		}
		h4 {
			font-size: 18px;
		}
	}
	#accessoriesCarouselIndicators img {
		width: 230px;
	}
	.application-form .nav-tabs .nav-link {
		font-size: 14px;
	}
}
@media (min-width: 1200px){
	.container {
		width: 1200px;
	}
	.app-form {
		width: 760px;
		margin: 0 auto;
	}
	body {
		padding-bottom: 348px;
	}
	.footer {
		position: absolute;
		bottom: 0;
	}
}
