$text-danger:  							#33618E !default;
$text-default: 							#181E21 !default;
$nav-link:     							#455860 !default;
$btn-grey:     							#484D53 !default;

$border-color:  						rgba(69, 88, 96, .16) !default;
$white-border-color:				rgba(255, 255, 255, 0.26) !default;
$grey-background:     			#F8F9F9 !default;
$bullet-color:        			#92A5AC !default;

$text-grey:           			#707070 !default;
$text-black:          			#212121 !default;


$light-grey-background:     #F7F7F7 !default;
$grey-border: 							#D6D6D6 !default;

$nav-tab-link:							#666666 !default;

$dealer-site-grey:          #EEEEEE !default;
