<!doctype html>
<html lang="en">
<head>
  <title>American Steel</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <nav class="navbar navbar-toggleable-md custom-primary-header" style="background-image: url('../images/banner/header_dealer.svg');">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#primaryNavDropdown" aria-controls="primaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="primaryNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown dealer-dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dealers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" data-toggle="modal" data-target="#loginModal">Login</a>
            <a class="dropdown-item" href="become_dealer.html">Become a Dealer</a>
            <a class="dropdown-item" href="find_dealer.html">Find a Dealer</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="service_area.html">Service Area</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="whats_new.html">What’s New!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-toggleable-md custom-secondary-header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#secondaryNavDropdown" aria-controls="secondaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-md-up" href="/"><img src="../images/logo_red.png" height="50px"></a>
    <a class="navbar-brand hidden-sm-down" href="/"><img src="../images/logo_header.png" height="66px"></a>
    <div class="navigation-menu">
      <ul class="navbar-nav d-flex justify-content-between justify-content-md-end customer-service">
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 730-8865">Customer Service (866) 730-8865</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 471-8761">Online Sales (866) 471-8761</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="secondaryNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="products.html">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="build_price.html">Build & Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="features.html">Features</a>
          </li>
        </ul>
        <form role="search" class="form-inline my-2 my-lg-0 searchform ml-0 ml-md-3" >
          <input type="text" class="form-control form-control-search" placeholder="Search here…" required/>
          <button type="submit" id="searchsubmit" class="btn btn-danger my-2 my-sm-0 ml-3">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/">Careers</a></li>
    <li class="breadcrumb-item active">Application Form</li>
  </ol>
  <hr class="divder my-0">

  <div class="application-form">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs d-flex justify-content-lg-center" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#applicationForm" role="tab">Application Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#generalInformation" role="tab">General Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#educationTraining" role="tab">Education & Training</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#skills" role="tab">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#employmentHistory" role="tab">Employment History</a>
      </li>
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="applicationForm" role="tabpanel">
        <section class="py-60">
          <div class="container">
            <h5 class="dealer-heading text-danger text-center mb-3">Application Form</h5>
            <p class="mb-0 py-60 pt-0 text-center">We are an Equal Opportunity Employer and fully subscribe to the principles of Equal Employment Opportunity. Applicants and/or employees are considered for hire, promotion and job status, without regard to race, color, religion, creed, sex, marital status, national origin, age, physical or mental disability.
            </p>
            <form action="" class="app-form">
              <div class="row mb-2">
                <div class="form-group col-12 col-md-6">
                  <label for="applicantName">Name </label>
                  <input type="text" class="form-control" id="applicantName" name="applicantName" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="applicantDate">Date of Application</label>
                  <input type="date" class="form-control" id="applicantDate" name="applicantDate" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="applicantaddress1">Address Line 1 </label>
                  <input type="text" class="form-control" id="applicantaddress1" name="applicantaddress1" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="applicantaddress2">Address Line 2 </label>
                  <input type="text" class="form-control" id="applicantaddress2" name="applicantaddress2" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="applicantState">State </label>
                  <input type="text" class="form-control" id="applicantState" name="applicantState" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="applicantCity">City</label>
                  <input type="text" class="form-control" id="applicantCity" name="applicantCity" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="applicantZip">Zip</label>
                  <input type="text" class="form-control" id="applicantZip" name="applicantZip" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="applicantPhone">Phone Number</label>
                  <input type="text" class="form-control" id="applicantPhone" name="applicantPhone" required>
                </div>
                <div class="form-group col-12 mb-0">
                  <div class="media">
                    <div class="d-flex align-self-center mr-3 applicant-resume" style="background-image: url('');"></div>
                    <div class="media-body">
                      <label for="applicantResume">Upload Resume</label>
                      <input type="file" class="form-control-file" id="applicantResume" aria-describedby="fileHelp">
                    </div>
                  </div>
                </div>
              </div>  
            </form>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <h6 class="mb-3 font-montserrat-medium">When Completeing This Application Make Sure You :</h6>
            <ul class="mb-0">
              <li>Complete the section for equal opportunity information.</li>
              <li>Give complete information on your education and work history (“see resume” is not acceptable)</li>
              <li>List separately each job held and your duties for each position when you worked for one employer and held more than one position.</li>
              <li>Check for accuracy, sign and date your application.</li>
            </ul>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <h6 class="mb-3 font-montserrat-medium">Equal Opportunity Information :</h6>
            <ul class="mb-0">
              <li>State Government prohibits discrimination based on race, sex, origin, crood, age or disability. Sex, age or absence of disability is bonafide occupational qualification in a small number of state jobs. The information requested below will in no where affect you as applicant. Its sole use will be how well our recuritment are reaching all segments of the population.</li>
            </ul>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <h6 class="mb-3 font-montserrat-medium">Disability : Disability means with respect to individuals :</h6>
            <ul class="mb-0">
              <li>Physical or Mental impairment that substantially limits one or more major life activities of such individuals.</li>
              <li>A record of such impairment or being regarded as such an impairment ( Americans with disabilities Act of 1990 ) . Persons without disability should check item A.</li>
              <li>The reporting of disability is strictly VOLUNTERY. Person who DO NOT WISH to report their disability should check item A.</li>
              <li>Information reported on this form will be kept confidiential as required by State Law.</li>
              <li>Pubic disclosure of this information without your consent would be violation of G.S .</li>
              <ol class="row mt-md-5 mt-3 ml-md-5" style="list-style:  upper-alpha;">
                <li class="col-lg-6">
                  <div class="form-check">
                    <label class="form-check-label d-inline">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                      <span class="radio-text pl-3">None/ Prefer not to say.</span>
                    </label>
                  </div>
                </li>

                <li class="col-lg-6">
                  <div class="form-check">
                    <label class="form-check-label d-inline">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                      <span class="radio-text pl-3">Blind or severely visually impaired.</span>
                    </label>
                  </div>
                </li>

                <li class="col-lg-6">
                  <div class="form-check">
                    <label class="form-check-label d-inline">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                      <span class="radio-text pl-3">Deaf or severely hearing impaired.</span>
                    </label>
                  </div>
                </li>

                <li class="col-lg-6">
                  <div class="form-check">
                    <label class="form-check-label d-inline">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                      <span class="radio-text pl-3">Loss of limited use of arms and/ or hands.</span>
                    </label>
                  </div>
                </li>

                <li class="col-lg-6">
                  <div class="form-check">
                    <label class="form-check-label d-inline">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                      <span class="radio-text pl-3">Other Orthopedic impairment( including amputation, artheritis, back injury, cerebral palsy, spine bifida Etc.</span>
                    </label>
                  </div>
                </li>

                <li class="col-lg-6">
                  <div class="form-check">
                    <label class="form-check-label d-inline">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                      <span class="radio-text pl-3">Respiratory impairment.</span>
                    </label>
                  </div>
                </li>

                <li class="col-lg-6">
                  <div class="form-check">
                    <label class="form-check-label d-inline">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                      <span class="radio-text pl-3">Nervous system/ Neurological disorder.</span>
                    </label>
                  </div>
                </li>

                <li class="col-lg-6">
                  <div class="form-check">
                    <label class="form-check-label d-inline">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                      <span class="radio-text pl-3">Mentally Restored.</span>
                    </label>
                  </div>
                </li>

                <li class="col-lg-6">
                  <div class="form-check">
                    <label class="form-check-label d-inline">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                      <span class="radio-text pl-3">Mental Retardation.</span>
                    </label>
                  </div>
                </li>

                <li class="col-lg-6">
                  <div class="form-check">
                    <label class="form-check-label d-inline">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                      <span class="radio-text pl-3">Learning Disability.</span>
                    </label>
                  </div>
                </li>

                <li class="col-lg-6">
                  <div class="form-check">
                    <label class="form-check-label d-inline">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                      <span class="radio-text pl-3">Others ( heart disease, diabetes, speach impairment.</span>
                    </label>
                  </div>
                </li>

              </ol>
              <div class="form-group col-12 col-md-6 col-lg-4 py-40 mb-0">
                <label for="applicantDOB">Date of Birth (MM/DD/YYYY)</label>
                <input type="date" class="form-control form-control-date" id="applicantDOB" name="applicantDOB" required>
              </div>
              <li>
                <p class="mb-1">Gender</p>
                <div class="form-check form-check-inline mr-2">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gender-radio" id="inlineRadio1" value="option1" checked><span class="radio-text pl-1">Male</span>
                  </label>
                </div>
                <div class="form-check form-check-inline mr-2">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gender-radio" id="inlineRadio2" value="option2"><span class="radio-text pl-1">Female</span>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gender-radio" id="inlineRadio3" value="option3"><span class="radio-text pl-1">Other</span>
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <h6 class="mb-3 font-montserrat-medium">Ethnic Group :</h6>
            <ol class="mb-0">
              <li>
                <div class="form-check ml-2">
                  <label class="form-check-label d-inline">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    <span class="radio-text pl-3">White (Non-Hispanic).</span>
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check ml-2">
                  <label class="form-check-label d-inline">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    <span class="radio-text pl-3">Black (Non-Hispanic).</span>
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check ml-2">
                  <label class="form-check-label d-inline">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    <span class="radio-text pl-3">Hispanic Mexican, Puerto Rican, Cuban, Central or South American other Spanish Origin.</span>
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check ml-2">
                  <label class="form-check-label d-inline">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    <span class="radio-text pl-3">Asian ( Including pacific islander ).</span>
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check ml-2">
                  <label class="form-check-label d-inline">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    <span class="radio-text pl-3">American Indian ( Including Alaskan Native ).</span>
                  </label>
                </div>
              </li>
            </ol>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <div class="text-right">
              <button class="btn btn-danger">Save</button>
              <button class="btn btn-danger ml-4">Next</button>
            </div>
          </div>
        </section>
      </div><!-- applicationForm -->

      <div class="tab-pane" id="generalInformation" role="tabpanel">
        <section class="py-60">
          <div class="container">
            <h5 class="dealer-heading text-danger text-center">GENERAL INFORMATION</h5>
            <ul>
              <li class="mb-4">
                <p class="mb-1">Are you able to perform the essential job functions of the position for which you are applying with or without reasonable accomodation?</p>
                <div class="form-check form-check-inline mr-2">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="yes-no-radio" id="inlineRadio1" value="option2" checked><span class="radio-text pl-1">Yes</span>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="yes-no-radio" id="inlineRadio2" value="option3"><span class="radio-text pl-1">No</span>
                  </label>
                </div>
              </li>
              <li class="">
                <p class="mb-1">Have you been convicted of any felonies other than minor traffic violations during the past seven years? (A criminal record or a conviction will not automatically bar employment, but will be considered only as it reasonably relates to your fitness to perform in the position for which you are applying.) If YES please explain.</p>
                <div class="form-check form-check-inline mr-2">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="yesno-radio" id="inlineRadio1" value="option2" checked><span class="radio-text pl-1">Yes</span>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="yesno-radio" id="inlineRadio2" value="option3"><span class="radio-text pl-1">No</span>
                  </label>
                </div>
                <div class="form-group py-40 mb-0">
                  <label for="applicantExplaination">Explaination <span class="pl-2">:</span></label>
                  <input type="text" class="form-control" id="applicantExplaination" name="applicantExplaination">
                </div>
                <div class="text-right">
                  <button class="btn btn-danger">Save</button>
                  <button class="btn btn-danger ml-4">Next</button>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div><!-- generalInformation -->

      <div class="tab-pane" id="educationTraining" role="tabpanel">
        <section class="py-60">
          <div class="container">
            <h5 class="dealer-heading text-danger text-center mb-4">EDUCATION & TRAINING</h5>
            <ul class="last-grade mb-0">
            <li class="py-40">
              <p>Last grade completed :</p>
              <ul class="list-inline d-flex flex-row">
                <li>
                  <input type="radio" name="last-grade" id="grade1">
                  <label class="grade-rounded" for="grade1">1</label>
                </li>
                <li>
                  <input type="radio" name="last-grade" id="grade2">
                  <label class="grade-rounded" for="grade2">2</label>
                </li>
                <li>
                  <input type="radio" name="last-grade" id="grade3">
                  <label class="grade-rounded" for="grade3">3</label>
                </li>
                <li>
                  <input type="radio" name="last-grade" id="grade4">
                  <label class="grade-rounded" for="grade4">4</label>
                </li>
                <li>
                  <input type="radio" name="last-grade" id="grade5">
                  <label class="grade-rounded" for="grade5">5</label>
                </li>
                <li>
                  <input type="radio" name="last-grade" id="grade6">
                  <label class="grade-rounded" for="grade6">6</label>
                </li>
                <li>
                  <input type="radio" name="last-grade" id="grade7">
                  <label class="grade-rounded" for="grade7">7</label>
                </li>
                <li>
                  <input type="radio" name="last-grade" id="grade8">
                  <label class="grade-rounded" for="grade8">8</label>
                </li>
                <li>
                  <input type="radio" name="last-grade" id="grade9">
                  <label class="grade-rounded" for="grade9">9</label>
                </li>
                <li>
                  <input type="radio" name="last-grade" id="grade10">
                  <label class="grade-rounded" for="grade10">10</label>
                </li>
                <li>
                  <input type="radio" name="last-grade" id="grade11">
                  <label class="grade-rounded" for="grade11">11</label>
                </li>
                <li>
                  <input type="radio" name="last-grade" id="grade12">
                  <label class="grade-rounded" for="grade12">12</label>
                </li>
              </ul>
            </li>

            <li>
              <p>College :</p>
              <ul class="list-inline d-flex flex-row">
                <li>
                  <input type="radio" name="college" id="firstYear">
                  <label class="grade-rounded" for="firstYear">1</label>
                </li>
                <li>
                  <input type="radio" name="college" id="secondYear">
                  <label class="grade-rounded" for="secondYear">2</label>
                </li>
                <li>
                  <input type="radio" name="college" id="thirdYear">
                  <label class="grade-rounded" for="thirdYear">3</label>
                </li>
                <li>
                  <input type="radio" name="college" id="fourthYear">
                  <label class="grade-rounded" for="fourthYear">4</label>
                </li>
              </ul>
            </li>

          </ul>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <form action="" class="appform">
              <div class="row mb-2">
                <div class="form-group col-12">
                  <label for="educationUniversity">College or University (Technical, Vocational, Graduate )</label>
                  <input type="text" class="form-control" id="educationUniversity" name="educationUniversity" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationAddress1">Address Line 1</label>
                  <input type="text" class="form-control" id="educationAddress1" name="educationAddress1" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationAddress2">Address Line 2</label>
                  <input type="text" class="form-control" id="educationAddress2" name="educationAddress2" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationState">State</label>
                  <input type="text" class="form-control" id="educationState" name="educationState" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationCity">City</label>
                  <input type="text" class="form-control" id="educationCity" name="educationCity" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationZip">Zip</label>
                  <input type="text" class="form-control" id="educationZip" name="educationZip" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationTelephone">Phone Number </label>
                  <input type="number" class="form-control" id="educationTelephone" name="educationTelephone" required>
                </div>
                <div class="form-group col-12 col-md-4 mb-md-0">
                  <label for="majorCourseStudied">Major Course Studied</label>
                  <input type="number" class="form-control" id="majorCourseStudied" name="majorCourseStudied" required>
                </div>
                
                <div class="form-group col-12 col-md-4 mb-md-0">
                  <label for="averageGrade">Average Grade</label>
                  <input type="text" class="form-control" id="averageGrade" name="averageGrade" required>
                </div>

                <div class="form-group col-12 col-md-4 mb-md-0">
                  <label for="averageGrade" class="d-block">Graduated or Degree</label>
                  <div class="form-check form-check-inline mr-2">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="yes-no-radio" id="inlineRadio1" value="option2" checked><span class="radio-text pl-1">Yes</span>
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="yes-no-radio" id="inlineRadio2" value="option3"><span class="radio-text pl-1">No</span>
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <form action="" class="appform">
              <div class="row mb-2">
                <div class="form-group col-12">
                  <label for="educationUniversity1">College or University (Technical, Vocational, Graduate )</label>
                  <input type="text" class="form-control" id="educationUniversity1" name="educationUniversity1" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationAddress11">Address Line 1</label>
                  <input type="text" class="form-control" id="educationAddress11" name="educationAddress11" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationAddress21">Address Line 2</label>
                  <input type="text" class="form-control" id="educationAddress21" name="educationAddress21" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationState1">State</label>
                  <input type="text" class="form-control" id="educationState1" name="educationState1" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationCity1">City</label>
                  <input type="text" class="form-control" id="educationCity1" name="educationCity1" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationZip1">Zip</label>
                  <input type="text" class="form-control" id="educationZip1" name="educationZip1" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationTelephone1">Phone Number </label>
                  <input type="number" class="form-control" id="educationTelephone1" name="educationTelephone1" required>
                </div>
                <div class="form-group col-12 col-md-4 mb-md-0">
                  <label for="majorCourseStudied1">Major Course Studied</label>
                  <input type="number" class="form-control" id="majorCourseStudied1" name="majorCourseStudied1" required>
                </div>
                
                <div class="form-group col-12 col-md-4 mb-md-0">
                  <label for="averageGrade1">Average Grade</label>
                  <input type="text" class="form-control" id="averageGrade1" name="averageGrade1" required>
                </div>

                <div class="form-group col-12 col-md-4 mb-md-0">
                  <label for="" class="d-block">Graduated or Degree</label>
                  <div class="form-check form-check-inline mr-2">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="yes-no-radio" id="inlineRadio1" value="option2" checked><span class="radio-text pl-1">Yes</span>
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="yes-no-radio" id="inlineRadio2" value="option3"><span class="radio-text pl-1">No</span>
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <form action="" class="appform">
              <div class="row mb-2">
                <div class="form-group col-12">
                  <label for="educationUniversity2">College or University (Technical, Vocational, Graduate )</label>
                  <input type="text" class="form-control" id="educationUniversity2" name="educationUniversity2" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationAddress12">Address Line 1</label>
                  <input type="text" class="form-control" id="educationAddress12" name="educationAddress12" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationAddress22">Address Line 2</label>
                  <input type="text" class="form-control" id="educationAddress22" name="educationAddress22" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationState2">State</label>
                  <input type="text" class="form-control" id="educationState2" name="educationState2" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationCity2">City</label>
                  <input type="text" class="form-control" id="educationCity2" name="educationCity2" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationZip2">Zip</label>
                  <input type="text" class="form-control" id="educationZip2" name="educationZip2" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="educationTelephone2">Phone Number </label>
                  <input type="number" class="form-control" id="educationTelephone2" name="educationTelephone2" required>
                </div>
                <div class="form-group col-12 col-md-4 mb-md-0">
                  <label for="majorCourseStudied2">Major Course Studied</label>
                  <input type="number" class="form-control" id="majorCourseStudied2" name="majorCourseStudied2" required>
                </div>
                
                <div class="form-group col-12 col-md-4 mb-md-0">
                  <label for="averageGrade2">Average Grade</label>
                  <input type="text" class="form-control" id="averageGrade2" name="averageGrade2" required>
                </div>

                <div class="form-group col-12 col-md-4 mb-md-0">
                  <label for="averageGrade" class="d-block">Graduated or Degree</label>
                  <div class="form-check form-check-inline mr-2">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="yes-no-radio" id="inlineRadio1" value="option2" checked><span class="radio-text pl-1">Yes</span>
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="yes-no-radio" id="inlineRadio2" value="option3"><span class="radio-text pl-1">No</span>
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <form action="" class="appform">
              <div class="row">
                <div class="form-group col-12 col-md-6">
                  <label for="Masters">Masters</label>
                  <input type="text" class="form-control" id="Masters" name="Masters" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="Doctorate">Doctorate</label>
                  <input type="text" class="form-control" id="Doctorate" name="Doctorate" required>
                </div>
                <div class="form-group col-12 mb-md-0">
                  <label for="scholarships">List any scholarships, academic honors, awards or special achievements:</label>
                  <input type="text" class="form-control" id="scholarships" name="scholarships" required>
                </div>
              </div>
            </form>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-40">
          <div class="container">
            <div class="text-right">
              <button class="btn btn-danger">Save</button>
              <button class="btn btn-danger ml-4">Next</button>
            </div>
          </div>
        </section>


      </div><!-- educationTraining -->

      <div class="tab-pane" id="skills" role="tabpanel">
        <section class="py-60">
          <div class="container">
            <h5 class="dealer-heading text-danger text-center mb-3">SKILLS</h5>
            <p class="text-center mb-0">Please list any skills you have that are appropriate for the position you are applying for:</p>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <ul class="mb-0 pl-0">
              <li>
                <p>If required, will you work?</p>
                <ul class="list-inline d-flex justify-content-between">
                  <li class="d-inline-block">
                    <p>Rotating shifts</p>
                    <div class="form-check form-check-inline mr-2">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="rotatingShifts" id="inlineRadio1" value="option1" checked><span class="radio-text pl-1">Yes</span>
                      </label>
                    </div>
                    <div class="form-check form-check-inline mr-2">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="rotatingShifts" id="inlineRadio2" value="option2"><span class="radio-text pl-1">Yes</span>
                      </label>
                    </div>
                  </li>

                  <li class="d-inline-block">
                    <p>Overtime</p>
                    <div class="form-check form-check-inline mr-2">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="overtime" id="inlineRadio1" value="option1" checked><span class="radio-text pl-1">Yes</span>
                      </label>
                    </div>
                    <div class="form-check form-check-inline mr-2">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="overtime" id="inlineRadio2" value="option2"><span class="radio-text pl-1">Yes</span>
                      </label>
                    </div>
                  </li>

                  <li class="d-inline-block">
                    <p>Saturdays</p>
                    <div class="form-check form-check-inline mr-2">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="saturdays" id="inlineRadio1" value="option1" checked><span class="radio-text pl-1">Yes</span>
                      </label>
                    </div>
                    <div class="form-check form-check-inline mr-2">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="saturdays" id="inlineRadio2" value="option2"><span class="radio-text pl-1">Yes</span>
                      </label>
                    </div>
                  </li>

                  <li class="d-inline-block">
                    <p>Sundays</p>
                    <div class="form-check form-check-inline mr-2">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="sundays" id="inlineRadio1" value="option1" checked><span class="radio-text pl-1">Yes</span>
                      </label>
                    </div>
                    <div class="form-check form-check-inline mr-2">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="sundays" id="inlineRadio2" value="option2"><span class="radio-text pl-1">Yes</span>
                      </label>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <div class="form-group">
              <label for="applicantPosition">Position applying for, be specific <span class="pl-1">:</span></label>
              <input type="text" class="form-control" id="applicantPosition" name="applicantPosition">
            </div>
            <div class="form-group">
              <label for="applicantSalary">Salary Requirements :<span class="pl-1">:</span></label>
              <input type="text" class="form-control" id="applicantSalary" name="applicantSalary">
            </div>

            <ul class="list-inline">
              <li class="d-inline-block mr-5">
                <p>Per Hour</p>
                <div class="form-check form-check-inline mr-2">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="perHour" id="inlineRadio1" value="option1" checked><span class="radio-text pl-1">Yes</span>
                  </label>
                </div>
                <div class="form-check form-check-inline mr-2">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="perHour" id="inlineRadio2" value="option2"><span class="radio-text pl-1">Yes</span>
                  </label>
                </div>
              </li>

              <li class="d-inline-block">
                <p>Per Month</p>
                <div class="form-check form-check-inline mr-2">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="perMonth" id="inlineRadio1" value="option1" checked><span class="radio-text pl-1">Yes</span>
                  </label>
                </div>
                <div class="form-check form-check-inline mr-2">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="perMonth" id="inlineRadio2" value="option2"><span class="radio-text pl-1">Yes</span>
                  </label>
                </div>
              </li>
            </ul>

            <div class="form-group">
              <label for="applicantStateQualified">State fully why you believe you are qualified for this position<span class="pl-1">:</span></label>
              <input type="text" class="form-control" id="applicantStateQualified" name="applicantStateQualified">
            </div>
            <div class="form-group">
              <label for="applicantSalary">INTERESTS / ACCOMPLISHMENTS: You may wish to list significant experience, interests & accomplishments gained while working as a volunteer or as a hobbyist that may be useful in the position (s) you are seeking. Names or organizations designating religion, race, etc. need not be mentioned<span class="pl-1">:</span></label>
              <input type="text" class="form-control" id="applicantSalary" name="applicantSalary">
            </div>
            <div class="text-right mt-5">
              <button class="btn btn-danger">Save</button>
              <button class="btn btn-danger ml-4">Next</button>
            </div>
          </div>
        </section>
      </div><!-- skills -->

      <div class="tab-pane" id="employmentHistory" role="tabpanel">
        <section class="py-60">
          <div class="container">
            <h5 class="dealer-heading text-danger text-center">EMPLOYMENT HISTORY</h5>
            <ul class="mb-0">
              <li>
                <p class="">Starting with your PRESENT or MOST RECENT EMPLOYER list in consecutive order ALL EMPLOYMENT for at least the past FOUR employers. If currently employed, may we contact your employer?</p>
                <div class="form-check form-check-inline mr-2">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="yes-no-radio" id="inlineRadio1" value="option2" checked><span class="radio-text pl-1">Yes</span>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="yes-no-radio" id="inlineRadio2" value="option3"><span class="radio-text pl-1">No</span>
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <p class="mb-5">PRESENT OR MOST RECENT EMPLOYER</p>
            <form action="" class="app-form">
              <div class="row mb-2">
                <div class="form-group col-12">
                  <label for="employmentCompany">Full Name of Company</label>
                  <input type="text" class="form-control" id="employmentCompany" name="employmentCompany" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="employmentSupervisor">Name & Title of Supervisor</label>
                  <input type="text" class="form-control" id="employmentSupervisor" name="employmentSupervisor" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="employmentTitle">Title of Your Position</label>
                  <input type="text" class="form-control" id="employmentTitle" name="employmentTitle" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="employmentAreaCode">Area Code</label>
                  <input type="number" class="form-control" id="employmentAreaCode" name="employmentAreaCode" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="employmentTelephone">Telephone </label>
                  <input type="number" class="form-control" id="employmentTelephone" name="employmentTelephone" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="employmentStreetAddress">Street Address</label>
                  <input type="text" class="form-control" id="employmentStreetAddress" name="employmentStreetAddress" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="employmentCity">City</label>
                  <input type="text" class="form-control" id="employmentCity" name="employmentCity" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="employmentState">State</label>
                  <input type="text" class="form-control" id="employmentState" name="employmentState" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="employmentZip">Zip</label>
                  <input type="text" class="form-control" id="employmentZip" name="employmentZip" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="employmentSalaryBegining">Salary Begining / End</label>
                  <input type="text" class="form-control" id="employmentSalaryBegining" name="employmentSalaryBegining" required>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="employmentEmployedFrom">Employed From - To</label>
                  <input type="text" class="form-control" id="employmentEmployedFrom" name="employmentEmployedFrom" required>
                </div>
                <div class="form-group col-12">
                  <label for="employmentList">List jobs held, Duties performed, Skills used, & Promotions while employed at this company <span class="pl-2">:</span></label>
                  <input type="text" class="form-control" id="employmentList" name="employmentList" required>
                </div>
                <div class="form-group col-12">
                  <label for="employmentReasonForLeaving">Reason For Leaving <span class="pl-2">:</span></label>
                  <input type="text" class="form-control" id="employmentReasonForLeaving" name="employmentReasonForLeaving" required>
                </div>
                <div class="form-group col-12">
                  <button class="btn btn-danger">Add Employment History</button>
                </div>
                <div class="form-group col-12">
                  <label for="employmentAdditionalInformation:">Additional Information<span class="pl-2">:</span></label>
                  <input type="text" class="form-control" id="employmentAdditionalInformation:" name="employmentAdditionalInformation:" required>
                </div>
              </div>  
            </form>
          </div>
        </section>
        <hr class="divider my-0">

        <section class="py-60">
          <div class="container">
            <p>READ CAREFULLY : I certify that the information contained in this application is correct to the best of my knowledge and understand that any misstatement or omission of information may result in denial of employment or discharge. I authorize the references listed above to give you any and all information concerning my previous employment and any pertinent information they may have, personal or otherwise, and release all parties from all liability for any damage that may result from furnishing same to you.</p>
            <div class="row">
              <div class="col-md-6 pl-md-0">
                <div class="form-group col-md-6">
                  <label for="presentDate">Date</label>
                  <input type="date" class="form-control" id="presentDate" name="presentDate" required>
                </div>
              </div>
              <div class="col-md-6 text-md-right pr-md-0">
                <div class="form-group col-md-6 offset-md-4 text-left">
                  <label for="employeeSignature">Signature</label>
                  <input type="text" class="form-control" id="employeeSignature" name="employeeSignature" required>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider my-0">

        <div class="container py-40 text-right">
          <button class="btn btn-danger">Submit</button>
        </div>

      </div><!-- employmentHistory -->
    </div><!-- tab-content -->
  </div><!-- application-form -->


  <footer class="footer">
    <div class="footer-social-links text-center py-30">
      <img src="../images/icons/icon_facebook.svg" alt="facebook" height="40px" class="mx-2">
      <img src="../images/icons/icon_twitter.svg" alt="twitter" height="40px" class="mx-2">
      <img src="../images/icons/icon_google+.svg" alt="google+" height="40px" class="mx-2">
      <img src="../images/icons/icon_youtube.svg" alt="youtube" height="40px" class="mx-2">
      <img src="../images/icons/icon_pinterest.svg" alt="pintrest" height="40px" class="mx-2">
      <img src="../images/icons/icon_instagram.svg" alt="instagram" height="40px" class="mx-2">
    </div>
    <div class="footer-nav-links d-flex flex-row">
      <ul class="list-inline mb-0 align-self-center">
        <li><img src="../images/icons/icon_footer_logo1.png" alt="logo"></li>
      </ul>
      <ul class="list-inline mb-0">
        <li><a href="about.html">About</a></li>
        <li><a href="our_company.html">Our Company</a></li>
        <li><a href="">Logos & Templates</a></li>
        <li><a href="customer_service.html">Customer Service</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="product.html">Product</a></li>
        <li><a href="features.html">Features</a></li>
        <li><a href="">Build & Price</a></li>
        <li><a href="">Estimate</a></li>
        <li><a href="faq.html">FAQ</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="careers.html">Careers</a></li>
        <li><a href="">Job Listings</a></li>
        <li><a href="">Interview Tips</a></li>
        <li><a href="">Benefits</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="contact.html">Contact</a></li>
        <li>457 North Broadway Street</li>
        <li> Joshua, TX 76058</li>
        <li> Phone: (866) 730-9865</li>
        <li> Fax: (888) 853-1805</li>
      </ul>

      <ul class="list-inline mb-0 align-self-center">
        <li><img src="../images/icons/icon_footer_logo2.png" alt="verified"></li>
      </ul>
    </div>
    <div class="footer-copyright d-flex flex-row">
      <ul class="list-inline mb-0">
        <li>Copyright © 2018 American Steel Carports Inc., All Rights Reserved</li>
      </ul>
      <ul class="list-inline mb-0 terms-privacy">
        <li class="d-inline-flex"><a href="terms.html">Terms</a></li>
        <li class="d-inline-flex"><a href="privacy_policy.html">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>

  <!-- login modal starts -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header mx-auto px-0 border-bottom-0">
          <h5 class="modal-title text-danger dealer-heading mb-2" id="loginModal">Dealer Login</h5>
        </div>

        <div class="modal-body">
          <form  class="px-5">
            <div class="form-group">
              <label for="loginUserName">User Name or Email</label>
              <input type="text" class="form-control" id="loginUserName" name="loginUserName">
            </div>
            <div class="form-group">
              <label for="loginpassword">Password <sup class="text-danger">*</sup></label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword" required="required">
            </div>
            <a href="#" class="text-danger">Forgot Password?</a>
            <div class="clearfix"></div>

            <div class="float-right mt-4">
              <button class="btn btn-grey mr-3 px-4"  data-dismiss="modal">Cancel</button>
              <button class="btn btn-danger px-4" data-toggle="modal" data-target="#completeProfile">Submit</button>
            </div>  
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <p class="mb-0">Not a dealer yet? <a href="<?php echo get_page_link( get_page_by_title( BecomeDealer )->ID ); ?>" class="text-danger"> Become a dealer </a></p>
        </div>
        <div class="modal-footer justify-content-center">
          <div class="media">
            <img class="d-flex mr-3 align-self-center" src="../images/logo_red.png" alt="">
            <div class="media-body">
              Disclaimer:We do not give out individual information such as telephone numbers, addresses, screen names or email addresses, unless specifically authorized to do so or compelled by valid court order.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- complete profile modal  -->
  <div class="modal fade" id="completeProfile" tabindex="-1" role="dialog" aria-labelledby="completeProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0 text-center">
          <h5 class="modal-title text-danger dealer-heading mb-0" id="completeProfileModalLabel">Company Profile</h5>
        </div>
        <div class="modal-body">
          <p class="text-center mb-0">Complete your company profile</p>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-grey " data-dismiss="modal">Not now</button>
          <button type="button" class="btn btn-danger px-4 ml-3">Ok</button>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../js/jquery-3.1.1.slim.min.js"></script>
  <script src="../js/tether.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/custom.js"></script>

</body>
</html>
