<!doctype html>
<html lang="en">
<head>
  <title>American Steel</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <nav class="navbar navbar-toggleable-md custom-primary-header" style="background-image: url('../images/banner/header_dealer.svg');">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#primaryNavDropdown" aria-controls="primaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="primaryNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown dealer-dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dealers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" data-toggle="modal" data-target="#loginModal">Login</a>
            <a class="dropdown-item" href="become_dealer.html">Become a Dealer</a>
            <a class="dropdown-item" href="find_dealer.html">Find a Dealer</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="service_area.html">Service Area</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="whats_new.html">What’s New!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-toggleable-md custom-secondary-header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#secondaryNavDropdown" aria-controls="secondaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-md-up" href="/"><img src="../images/logo_red.png" height="50px"></a>
    <a class="navbar-brand hidden-sm-down" href="/"><img src="../images/logo_header.png" height="66px"></a>
    <div class="navigation-menu">
      <ul class="navbar-nav d-flex justify-content-between justify-content-md-end customer-service">
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 730-8865">Customer Service (866) 730-8865</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 471-8761">Online Sales (866) 471-8761</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="secondaryNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="products.html">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="build_price.html">Build & Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="features.html">Features</a>
          </li>
        </ul>
        <form role="search" class="form-inline my-2 my-lg-0 searchform ml-0 ml-md-3" >
          <input type="text" class="form-control form-control-search" placeholder="Search here…" required/>
          <button type="submit" id="searchsubmit" class="btn btn-danger my-2 my-sm-0 ml-3">Search</button>
        </form>
      </div>
    </div>
  </nav>
  
  <div class="careers">
    <section class="py-60">
      <div class="container">
        <h5 class="dealer-heading text-danger text-center mb-3">Careers</h5>
        <p class="text-center mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc porttitor nunc a sem.</p>
      </div>
    </section>
    <hr class="divider my-0">

    <section class="py-60 our-team">
      <div class="container">
        <h5 class="dealer-heading text-danger text-center">Our Team</h5>
        <div class="row m-0 home-options">
          <div class="col-lg-5 col-md-5 col-sm-12 px-0 bg-danger">
            <div class="split-left-container" style="background-image: url('../images/careers/halloween_picture.png');">
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 px-0 bg-danger">
            <div class="split-right-container">
              <div class="info-details text-white">
                Every month we have a couple of fun days at the office. Our competitiveness is no joke as winners do take home prizes.
              </div>
            </div>
          </div>

          <div class="col-lg-7 col-md-7 col-sm-12 px-0 bg-danger">
            <div class="split-right-container">
              <div class="info-details text-white">
                Every month we have a couple of fun days at the office. Our competitiveness is no joke as winners do take home prizes.
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 px-0 bg-danger">
            <div class="split-left-container" style="background-image: url('../images/careers/company_christmas_party.jpg');">
            </div>
          </div>

          <div class="col-lg-5 col-md-5 col-sm-12 px-0 bg-danger">
            <div class="split-left-container" style="background-image: url('../images/careers/trunk_treat_official.jpg');">
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 px-0 bg-danger">
            <div class="split-right-container">
              <div class="info-details text-white">
                Who said work events had to be boring?
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <hr class="divider my-0">

    <section class="py-60 customer-service">
      <div class="container">
        <h5 class="dealer-heading text-danger text-center mb-3">Benefits</h5>
        <p class="text-center mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc porttitor nunc a sem.</p>
        <div class="row mt-3 mt-md-5">
          <div class="col-12 col-md-6 col-lg-4 mb-5 align-self-center">
            <div class="media">
              <div class="img-holder"><img class="d-flex mx-auto mt-1" src="../images/icons/icon_health_insurance.svg" alt="" height="59px"></div>
              <div class="media-body align-self-center">
                <h5 class="my-0">Health Insurance</h5>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-5 align-self-center">
            <div class="media">
              <div class="img-holder"><img class="d-flex mx-auto mt-1" src="../images/icons/icon_paid_vacation.svg" alt="" height="46px"></div>
              <div class="media-body align-self-center">
                <h5 class="my-0">Paid Vacation</h5>
              </div>
            </div> 
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-5 align-self-center">
            <div class="media">
              <div class="img-holder"><img class="d-flex mx-auto" src="../images/icons/icon_competitive_salary.svg" alt="" height="59px"></div>
              <div class="media-body align-self-center">
                <h5 class="my-0">Competitive Salary</h5>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 align-self-center">
            <div class="media">
              <div class="img-holder"><img class="d-flex mx-auto mt-1" src="../images/icons/icon_dental_insurance.svg" alt="" height="50px"></div>
              <div class="media-body align-self-center">
                <h5 class="my-0">Dental Insurance</h5>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-0 mb-lg-0 align-self-center">
            <div class="media">
              <div class="img-holder"><img class="d-flex mx-auto mt-1" src="../images/icons/icon_eye_insurance.svg" alt="" height="44px"></div>
              <div class="media-body align-self-center">
                <h5 class="my-0">Eye Insurance</h5>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-0 mb-lg-0 align-self-center">
            <div class="media">
              <div class="img-holder"><img class="d-flex mx-auto" src="../images/icons/icon_401k.svg" alt="" height="60px"></div>
              <div class="media-body align-self-center">
                <h5 class="my-0">401k</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <hr class="divider my-0">

    <section class="py-60">
      <div class="container">
        <h5 class="dealer-heading text-danger text-center">our departments</h5>
        <div class="row">
          <div class="col-sm-6 col-lg-4 col-xl-4">
            <div class="card-tile-wrapper">
              <div class="card-tile-inner">
                <div class="card-tile-front bg-danger">
                  <div class="card-tile-content">
                    <img src="../images/icons/icon_marketing.svg" height="60px" class="mb-3">
                    <h5 class="font-montserrat-medium mb-0">Marketing</h5>
                  </div>
                </div>
                <div class="card-tile-back bg-danger">
                  <div class="card-tile-content">
                    <h5 class="font-montserrat-medium py-40 pt-0 mb-0">Marketing</h5>
                    <p>We connect with thousands of dealers nationwide. Our network is vast so
                    our customers can connect with real people right outside their door.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-xl-4">
            <div class="card-tile-wrapper">
              <div class="card-tile-inner">
                <div class="card-tile-front bg-danger">
                  <div class="card-tile-content">
                    <img src="../images/icons/icon_manufacturing.svg" height="60px" class="mb-3">
                    <h5 class="font-montserrat-medium mb-0">Manufacturing</h5>
                  </div>
                </div>
                <div class="card-tile-back bg-danger">
                  <div class="card-tile-content">
                    <h6 class="font-montserrat-medium py-40 pt-0 mb-0">Manufacturing</h6>
                    <p>We connect with thousands of dealers nationwide. Our network is vast so
                    our customers can connect with real people right outside their door.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-xl-4">
            <div class="card-tile-wrapper">
              <div class="card-tile-inner">
                <div class="card-tile-front bg-danger">
                  <div class="card-tile-content">
                    <img src="../images/icons/icon_customer_service.svg" height="60px" class="mb-3">
                    <h5 class="font-montserrat-medium mb-0">Customer service</h5>
                  </div>
                </div>
                <div class="card-tile-back bg-danger">
                  <div class="card-tile-content">
                    <h6 class="font-montserrat-medium py-40 pt-0 mb-0">Customer service</h6>
                    <p>We connect with thousands of dealers nationwide. Our network is vast so
                    our customers can connect with real people right outside their door.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-xl-4">
            <div class="card-tile-wrapper">
              <div class="card-tile-inner">
                <div class="card-tile-front bg-danger">
                  <div class="card-tile-content">
                    <img src="../images/icons/icon_sales.svg" height="60px" class="mb-3">
                    <h5 class="font-montserrat-medium mb-0">Sales</h5>
                  </div>
                </div>
                <div class="card-tile-back bg-danger">
                  <div class="card-tile-content">
                    <h6 class="font-montserrat-medium py-40 pt-0 mb-0">Sales</h6>
                    <p>We connect with thousands of dealers nationwide. Our network is vast so
                    our customers can connect with real people right outside their door.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-xl-4">
            <div class="card-tile-wrapper">
              <div class="card-tile-inner">
                <div class="card-tile-front bg-danger">
                  <div class="card-tile-content">
                    <img src="../images/icons/icon_dealers_service.svg" height="60px" class="mb-3">
                    <h5 class="font-montserrat-medium mb-0">Dealer Service</h5>
                  </div>
                </div>
                <div class="card-tile-back bg-danger">
                  <div class="card-tile-content">
                    <h6 class="font-montserrat-medium py-40 pt-0 mb-0">Dealer Service</h6>
                    <p>We connect with thousands of dealers nationwide. Our network is vast so
                    our customers can connect with real people right outside their door.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-xl-4">
            <div class="card-tile-wrapper">
              <div class="card-tile-inner">
                <div class="card-tile-front bg-danger">
                  <div class="card-tile-content">
                    <img src="../images/icons/icon_engineering.svg" height="60px" class="mb-3">
                    <h5 class="font-montserrat-medium mb-0">Engineering</h5>
                  </div>
                </div>
                <div class="card-tile-back bg-danger">
                  <div class="card-tile-content">
                    <h6 class="font-montserrat-medium py-40 pt-0 mb-0">Engineering</h6>
                    <p>We connect with thousands of dealers nationwide. Our network is vast so
                    our customers can connect with real people right outside their door.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div><!-- row -->
      </div><!-- container -->
    </section>
    <hr class="divider my-0">

    <section class="py-60 job-listing">
      <div class="container">
        <h5 class="dealer-heading text-danger text-center">Job listings</h5>
        <table class="table mb-5">
          <thead>
            <tr>
              <th>Position</th>
              <th>Role</th>
              <th>Location</th>
              <th style="width:100px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sofware Engineer</td>
              <td>Production and Engineering</td>
              <td>Cambrigde, NA</td>
              <td><button class="btn btn-danger py-1">View</button></td>
            </tr>
            <tr>
              <td>Renewal Manager</td>
              <td>Customer Success</td>
              <td>@Dublin, Ireland</td>
              <td><button class="btn btn-danger py-1">View</button></td>
            </tr>
            <tr>
              <td>Mid-Market Account Exceutive</td>
              <td>Sales</td>
              <td>Cambrigde, NA</td>
              <td><button class="btn btn-danger py-1">View</button></td>
            </tr>
            <tr>
              <td>User Success Coach</td>
              <td>Customer Success</td>
              <td>Cambrigde, NA</td>
              <td><button class="btn btn-danger py-1">View</button></td>
            </tr>
          </tbody>
        </table>
        <div class="text-center"><a href="" class="text-danger">See all open positions <img src="../images/icons/icon_double_arrow_red.svg" height="10px" class="ml-2"></a></div>
      </div>
    </section>
  </div>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../js/jquery-3.1.1.slim.min.js"></script>
  <script src="../js/tether.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/custom.js"></script>
  
</body>
</html>