<!doctype html>
<html lang="en">
<head>
  <title>American Steel</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <nav class="navbar navbar-toggleable-md custom-primary-header" style="background-image: url('../images/banner/header_dealer.svg');">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#primaryNavDropdown" aria-controls="primaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="primaryNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown dealer-dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dealers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" data-toggle="modal" data-target="#loginModal">Login</a>
            <a class="dropdown-item" href="become_dealer.html">Become a Dealer</a>
            <a class="dropdown-item" href="find_dealer.html">Find a Dealer</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="service_area.html">Service Area</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="whats_new.html">What’s New!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-toggleable-md custom-secondary-header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#secondaryNavDropdown" aria-controls="secondaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-md-up" href="/"><img src="../images/logo_red.png" height="50px"></a>
    <a class="navbar-brand hidden-sm-down" href="/"><img src="../images/logo_header.png" height="66px"></a>
    <div class="navigation-menu">
      <ul class="navbar-nav d-flex justify-content-between justify-content-md-end customer-service">
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 730-8865">Customer Service (866) 730-8865</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 471-8761">Online Sales (866) 471-8761</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="secondaryNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="products.html">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="build_price.html">Build & Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="features.html">Features</a>
          </li>
        </ul>
        <form role="search" class="form-inline my-2 my-lg-0 searchform" >
          <input type="text" class="form-control form-control-search" placeholder="Search here…" required/>
          <button type="submit" id="searchsubmit" class="btn btn-danger my-2 my-sm-0 ml-3">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Customer Service</li>
  </ol>
  <div class="customer-service">
    <section class="py-60">
      <div class="container text-center">
        <h5 class="dealer-heading text-danger mb-3">How Can We Help You Today?</h5>
        <p class="mb-0">Hate making phone calls? <a href="" class="text-danger"> American Steel Carports</a> employs a ticket system for all customer service related issues. Please choose the category that best suits your query and send it to us on a ticket or <a href="contact.html" class="text-danger"> contact us</a> at any time.</p>
      </div>
    </section>
    <hr class="divider my-0">

    <section class="py-60 customer-service-modal">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-5 align-self-center">
            <a href="request_color_sample.html">
              <div class="media">
                <div class="img-holder"><img class="d-flex mx-auto" src="../images/icons/icon_request_color_sample.svg" alt="" height="42px"></div>
                <div class="media-body align-self-center">
                  <h5 class="my-0">Request Color Sample</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-5 align-self-center">
            <a data-toggle="modal" data-target="#orderStatusModal">
              <div class="media">
                <div class="img-holder"><img class="d-flex mx-auto" src="../images/icons/icon_order_status.svg" alt="" height="42px"></div>
                <div class="media-body align-self-center">
                  <h5 class="my-0">Order Status</h5>
                </div>
              </div> 
            </a>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-5 align-self-center">
            <a data-toggle="modal" data-target="#financeApplicationModal">
              <div class="media">
                <div class="img-holder"><img class="d-flex mx-auto" src="../images/icons/icon_finance_application.svg" alt="" height="26px"></div>
                <div class="media-body align-self-center">
                  <h5 class="my-0">Finance Application</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 align-self-center">
            <a data-toggle="modal" data-target="#productConcernModal">
              <div class="media">
                <div class="img-holder"><img class="d-flex mx-auto" src="../images/icons/icon_product_concern.svg" alt="" height="26px"></div>
                <div class="media-body align-self-center">
                  <h5 class="my-0">Product Concern</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-0 mb-lg-0 align-self-center">
            <a href="faq.html">
              <div class="media">
                <div class="img-holder"><img class="d-flex mx-auto" src="../images/icons/icon_common_questions.svg" alt="" height="44px"></div>
                <div class="media-body align-self-center">
                  <h5 class="my-0">Common Questions</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-0 mb-lg-0 align-self-center">
            <a data-toggle="modal" data-target="#customerFeedbackModal">
              <div class="media">
                <div class="img-holder"><img class="d-flex mx-auto" src="../images/icons/icon_customer_feedback.svg" alt="" height="44px"></div>
                <div class="media-body align-self-center">
                  <h5 class="my-0">Customer Feedback</h5>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>
    <hr class="divider my-0">

    <section class="py-60">
      <div class="container text-center">
        <h2 class="text-danger dealer-heading mt-0 mb-3">Scheduling Department</h2>
        <p class="mb-5">Send a message to your scheduling coordinator, please select your state:</p>
        <select id="select_state" class="form-control form-control-state mx-auto" name="select_state" style="background-image: url(../images/icons/icon_dropdown.svg)">
          <option value="0">Please Choose One</option>
          <option value="1" data-toggle="modal" data-target="#sendMessageModal">state</option>
        </select>
      </div>
    </section>
    <hr class="divider my-0">
    
    <section class="bg-grey py-60">
      <h2 class="text-danger dealer-heading text-center mt-0 mb-3">Questions?</h2>
      <p class="text-center mb-5">Don’t hesitate. Call now!</p>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6 d-inline-flex justify-content-center">
            <div class="media">
              <img class="d-flex align-self-center mr-3" src="../images/icons/icon_call.svg" height="36px" alt="Generic placeholder image">
              <div class="media-body">
                <p class="mb-0">For Customer Service</p>
                <h5 class="toll-free-number my-0 text-danger">866. 730. 9865</h5>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6 d-inline-flex justify-content-center">
            <div class="media">
              <img class="d-flex align-self-center mr-3" src="../images/icons/icon_call.svg" height="36px" alt="Generic placeholder image">
              <div class="media-body">
                <p class="mb-0">For Sales Representative</p>
                <h5 class="toll-free-number my-0 text-danger">866. 471. 8761</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <footer class="footer">
    <div class="footer-social-links text-center py-30">
      <img src="../images/icons/icon_facebook.svg" alt="facebook" height="40px" class="mx-2">
      <img src="../images/icons/icon_twitter.svg" alt="twitter" height="40px" class="mx-2">
      <img src="../images/icons/icon_google+.svg" alt="google+" height="40px" class="mx-2">
      <img src="../images/icons/icon_youtube.svg" alt="youtube" height="40px" class="mx-2">
      <img src="../images/icons/icon_pinterest.svg" alt="pintrest" height="40px" class="mx-2">
      <img src="../images/icons/icon_instagram.svg" alt="instagram" height="40px" class="mx-2">
    </div>
    <div class="footer-nav-links d-flex flex-row">
      <ul class="list-inline mb-0 align-self-center">
        <li><img src="../images/icons/icon_footer_logo1.png" alt="logo"></li>
      </ul>
      <ul class="list-inline mb-0">
        <li><a href="about.html">About</a></li>
        <li><a href="our_company.html">Our Company</a></li>
        <li><a href="">Logos & Templates</a></li>
        <li><a href="customer_service.html">Customer Service</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="product.html">Product</a></li>
        <li><a href="features.html">Features</a></li>
        <li><a href="">Build & Price</a></li>
        <li><a href="">Estimate</a></li>
        <li><a href="faq.html">FAQ</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="careers.html">Careers</a></li>
        <li><a href="">Job Listings</a></li>
        <li><a href="">Interview Tips</a></li>
        <li><a href="">Benefits</a></li>
      </ul>
      
      <ul class="list-inline mb-0">
        <li><a href="contact.html">Contact</a></li>
        <li>457 North Broadway Street</li>
        <li> Joshua, TX 76058</li>
        <li> Phone: (866) 730-9865</li>
        <li> Fax: (888) 853-1805</li>
      </ul>

      <ul class="list-inline mb-0 align-self-center">
        <li><img src="../images/icons/icon_footer_logo2.png" alt="verified"></li>
      </ul>
    </div>
    <div class="footer-copyright d-flex flex-row">
      <ul class="list-inline mb-0">
        <li>Copyright © 2018 American Steel Carports Inc., All Rights Reserved</li>
      </ul>
      <ul class="list-inline mb-0 terms-privacy">
        <li class="d-inline-flex"><a href="terms.html">Terms</a></li>
        <li class="d-inline-flex"><a href="privacy_policy.html">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>

  <!-- login modal starts -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header mx-auto px-0 border-bottom-0">
          <h5 class="modal-title text-danger dealer-heading mb-2" id="loginModal">Dealer Login</h5>
        </div>

        <div class="modal-body">
          <form  class="px-5">
            <div class="form-group">
              <label for="loginUserName">User Name or Email</label>
              <input type="text" class="form-control" id="loginUserName" name="loginUserName">
            </div>
            <div class="form-group">
              <label for="loginpassword">Password <sup class="text-danger">*</sup></label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword" required="required">
            </div>
            <a href="#" class="text-danger">Forgot Password?</a>
            <div class="clearfix"></div>

            <div class="float-right mt-4">
              <button class="btn btn-grey mr-3 px-4"  data-dismiss="modal">Cancel</button>
              <button class="btn btn-danger px-4" data-toggle="modal" data-target="#completeProfile">Submit</button>
            </div>  
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <p class="mb-0">Not a dealer yet? <a href="<?php echo get_page_link( get_page_by_title( BecomeDealer )->ID ); ?>" class="text-danger"> Become a dealer </a></p>
        </div>
        <div class="modal-footer justify-content-center">
          <div class="media w-100">
            <img class="d-flex mr-3 align-self-center" src="../images/logo_red.png" alt="">
            <div class="media-body">
              Disclaimer:We do not give out individual information such as telephone numbers, addresses, screen names or email addresses, unless specifically authorized to do so or compelled by valid court order.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- complete profile modal  -->
  <div class="modal fade" id="completeProfile" tabindex="-1" role="dialog" aria-labelledby="completeProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0 text-center">
          <h5 class="modal-title text-danger dealer-heading mb-0" id="completeProfileModalLabel">Company Profile</h5>
        </div>
        <div class="modal-body">
          <p class="text-center mb-0">Complete your company profile</p>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-grey " data-dismiss="modal">Not now</button>
          <button type="button" class="btn btn-danger px-4 ml-3">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <!-- order Status Modal -->
  <div class="modal fade" id="orderStatusModal" tabindex="-1" role="dialog" aria-labelledby="orderStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header  border-bottom-0 text-center py-4">
          <h5 class="modal-title text-danger dealer-heading mb-0" id="orderStatusModalLabel">ORDER STATUS</h5>
        </div>
        <p class="mb-0 text-center modal-header pt-0">Please Provide us with the required information and a representative will contact you shortly with the status of your current order</p>
        <form action="">
          <div class="modal-body pt-4 px-4">
            <div class="row">
              <div class="form-group col-12 col-md-6">
                <label for="orderState">State Being Installed <sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" id="orderState" name="orderState" required>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="orderName">Full Name <sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" id="orderName" name="orderName" required>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="Rphone">Phone <sup class="text-danger">*</sup></label>
                <input type="number" class="form-control" id="Rphone" name="Rphone" required>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="order-email">Email <sup class="text-danger">*</sup></label>
                <input type="email" class="form-control" id="order-email" name="order-email" required>
              </div>
              <div class="form-group col-12">
                <label for="order-comment">Comment <sup class="text-danger">*</sup></label>
                <input type="email" class="form-control" id="order-comment" name="order-comment" required>
              </div>
            </div>  
          </div>
          <div class="modal-footer border-top-0">
            <button type="button" class="btn btn-grey " data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger px-4 ml-3">Submit</button>
          </div>
        </form>
        <div class="modal-footer justify-content-center">
          <div class="media w-100">
            <img class="d-flex mr-3 align-self-center" src="../images/logo_red.png" alt="">
            <div class="media-body text-grey">
              Disclaimer: We do not give out individual information such as telephone numbers, addresses, screen names or email addresses, unless specifically authorized to do so or compelled by valid court order. Price is for 14G and does not include specific plans, calculations, and equipment charges if applicable.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- product concern Modal -->
  <div class="modal fade" id="productConcernModal" tabindex="-1" role="dialog" aria-labelledby="productConcernModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header  border-bottom-0 text-center py-4">
          <h5 class="modal-title text-danger dealer-heading mb-0" id="productConcernModalLabel">PRODUCT CONCERNS</h5>
        </div>
        <p class="mb-0 text-center modal-header pt-0">We are constantly striving to improve our product and services every day. Please provide us with any concerns you may have</p>
        <form action="">
          <div class="modal-body pt-4 px-4">
            <div class="row">
              <div class="form-group col-12 col-md-6">
                <label for="productFirstName">First Name <sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" id="productFirstName" name="productFirstName" required>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="productName">Full Name <sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" id="productName" name="productName" required>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="productPhone">Phone <sup class="text-danger">*</sup></label>
                <input type="number" class="form-control" id="productPhone" name="productPhone" required>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="productEmail">Email <sup class="text-danger">*</sup></label>
                <input type="email" class="form-control" id="productEmail" name="productEmail" required>
              </div>
              <div class="form-group col-12">
                <label for="productComment">Comment <sup class="text-danger">*</sup></label>
                <input type="email" class="form-control" id="productComment" name="productComment" required>
              </div>
            </div>  
          </div>
          <div class="modal-footer border-top-0">
            <button type="button" class="btn btn-grey " data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger px-4 ml-3">Submit</button>
          </div>
        </form>
        <div class="modal-footer justify-content-center">
          <div class="media w-100">
            <img class="d-flex mr-3 align-self-center" src="../images/logo_red.png" alt="">
            <div class="media-body text-grey">
              Disclaimer: We do not give out individual information such as telephone numbers, addresses, screen names or email addresses, unless specifically authorized to do so or compelled by valid court order. Price is for 14G and does not include specific plans, calculations, and equipment charges if applicable.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- customer feedback Modal -->
  <div class="modal fade" id="customerFeedbackModal" tabindex="-1" role="dialog" aria-labelledby="customerFeedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header  border-bottom-0 text-center py-4">
          <h5 class="modal-title text-danger dealer-heading mb-0" id="customerFeedbackModalLabel">CUSTOMER FEEDBACK</h5>
        </div>
        <p class="mb-0 text-center modal-header pt-0">We would love to know how we are doing. Please provide us with any feedback you may have</p>
        <form action="">
          <div class="modal-body pt-4 px-4">
            <div class="row">
              <div class="form-group col-12 col-md-6">
                <label for="customerFirstName">First Name <sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" id="customerFirstName" name="customerFirstName" required>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="customerName">Full Name <sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" id="customerName" name="customerName" required>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="customerPhone">Phone <sup class="text-danger">*</sup></label>
                <input type="number" class="form-control" id="customerPhone" name="customerPhone" required>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="customerEmail">Email <sup class="text-danger">*</sup></label>
                <input type="email" class="form-control" id="customerEmail" name="customerEmail" required>
              </div>
              <div class="form-group col-12">
                <label for="customerComment">Comment <sup class="text-danger">*</sup></label>
                <input type="email" class="form-control" id="customerComment" name="customerComment" required>
              </div>
            </div>  
          </div>
          <div class="modal-footer border-top-0">
            <button type="button" class="btn btn-grey " data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger px-4 ml-3">Submit</button>
          </div>
        </form>
        <div class="modal-footer justify-content-center">
          <div class="media w-100">
            <img class="d-flex mr-3 align-self-center" src="../images/logo_red.png" alt="">
            <div class="media-body text-grey">
              Disclaimer: We do not give out individual information such as telephone numbers, addresses, screen names or email addresses, unless specifically authorized to do so or compelled by valid court order. Price is for 14G and does not include specific plans, calculations, and equipment charges if applicable.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- finance Modal -->
  <div class="modal fade" id="financeApplicationModal" tabindex="-1" role="dialog" aria-labelledby="financeApplicationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header  border-bottom-0 text-center py-4">
          <h5 class="modal-title text-danger dealer-heading mb-0" id="financeApplicationModalLabel">Financing</h5>
        </div>
        <h5 class="text-danger text-center">Do You Have An Order With Us?</h5>
        <p class="text-center">You must have placed an order to apply for financing. Contact us to learn more</p>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-grey " data-dismiss="modal">Contact</button>
          <a class="btn btn-danger px-4 ml-3" href="financing.html">Continue</a>
        </div>
      </div>
    </div>
  </div>

  <!-- send message Modal -->
  <div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="sendMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header  border-bottom-0 text-center py-4">
          <h5 class="modal-title text-danger dealer-heading mb-0" id="sendMessageModalLabel">SEND US MESSAGE</h5>
        </div>
        <p class="mb-0 text-center modal-header pt-0">Please Provide us with the required information and a representative will contact you shortly with the status of your current order</p>
        <form action="">
          <div class="modal-body pt-4 px-4">
            <div class="row">
              <div class="form-group col-12 col-md-6">
                <label for="orderName">Full Name <sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" id="orderName" name="orderName" required>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="Rphone">Phone <sup class="text-danger">*</sup></label>
                <input type="number" class="form-control" id="Rphone" name="Rphone" required>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="order-email">Email <sup class="text-danger">*</sup></label>
                <input type="email" class="form-control" id="order-email" name="order-email" required>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="orderState">Date Order Placed* <sup class="text-danger">*</sup></label>
                <input type="date" class="form-control" id="orderState" name="orderState" required>
              </div>
              <div class="form-group col-12">
                <label for="order-comment">Comment <sup class="text-danger">*</sup></label>
                <input type="email" class="form-control" id="order-comment" name="order-comment" required>
              </div>
            </div>  
          </div>
          <div class="modal-footer border-top-0">
            <button type="button" class="btn btn-grey " data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger px-4 ml-3">Submit</button>
          </div>
        </form>
        <div class="modal-footer justify-content-center">
          <div class="media w-100">
            <img class="d-flex mr-3 align-self-center" src="../images/logo_red.png" alt="">
            <div class="media-body text-grey">
              Disclaimer: We do not give out individual information such as telephone numbers, addresses, screen names or email addresses, unless specifically authorized to do so or compelled by valid court order. Price is for 14G and does not include specific plans, calculations, and equipment charges if applicable.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../js/jquery-3.1.1.slim.min.js"></script>
  <script src="../js/tether.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/custom.js"></script>

</body>
</html>
