<!doctype html>
<html lang="en">
<head>
  <title>American Steel</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <nav class="navbar navbar-toggleable-md custom-primary-header" style="background-image: url('../images/banner/header_dealer.svg');">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#primaryNavDropdown" aria-controls="primaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="primaryNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown dealer-dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dealers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" data-toggle="modal" data-target="#loginModal">Login</a>
            <a class="dropdown-item" href="become_dealer.html">Become a Dealer</a>
            <a class="dropdown-item" href="find_dealer.html">Find a Dealer</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="service_area.html">Service Area</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="whats_new.html">What’s New!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-toggleable-md custom-secondary-header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#secondaryNavDropdown" aria-controls="secondaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-md-up" href="/"><img src="../images/logo_red.png" height="50px"></a>
    <a class="navbar-brand hidden-sm-down" href="/"><img src="../images/logo_header.png" height="66px"></a>
    <div class="navigation-menu">
      <ul class="navbar-nav d-flex justify-content-between justify-content-md-end customer-service">
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 730-8865">Customer Service (866) 730-8865</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 471-8761">Online Sales (866) 471-8761</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="secondaryNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="products.html">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="build_price.html">Build & Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="features.html">Features</a>
          </li>
        </ul>
        <form role="search" class="form-inline my-2 my-lg-0 searchform ml-0 ml-md-3" >
          <input type="text" class="form-control form-control-search" placeholder="Search here…" required/>
          <button type="submit" id="searchsubmit" class="btn btn-danger my-2 my-sm-0 ml-3">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Customer Service</li>
  </ol>

  <div class="section py-60 faq">
    <div class="container">
      <h5 class="dealer-heading text-danger text-center">FAQ</h5>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="faq1">
            <a data-toggle="collapse" data-parent="#accordion" href="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
              <p class="mb-0">
                <i class="icon-question"></i>How long will it take to get my carport delivered after I place an order? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>

          <div id="faqCollapse1" class="collapse show" role="tabpanel" aria-labelledby="faq1">
            <div class="card-block">
              A. Delivery usually takes 2-6 weeks in most areas. Please call for an updated time frame for your local area. All shipping dates are approximate and are computed from the date of entry of the order on American Steel’s books (system).
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq2">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
              <p class="mb-0">
                <i class="icon-question"></i>How long will it take to get my carport delivered after I place an order? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse2" class="collapse" role="tabpanel" aria-labelledby="faqTwo">
            <div class="card-block">
              A. Standard buildings are assembled in about an hour but it may take up to two days depending upon the size and type of structure.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq3">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
              <p class="mb-0">
                <i class="icon-question"></i>What size do I need to make the concrete pad? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse3" class="collapse" role="tabpanel" aria-labelledby="faq3">
            <div class="card-block">
              A. Once an order is placed and the 10% down payment is received you are eligible for a set of engineered certified plans that will give you the recommendation for your concrete pad.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq4">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
              <p class="mb-0">
                <i class="icon-question"></i>What are the dimensions of the carport outside to outside? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse4" class="collapse" role="tabpanel" aria-labelledby="faq4">
            <div class="card-block">
              A. Width x Length x Height (ex. 18 x 21 x 5) Length dimension is measured by the roof metal with 6" overhang on each end. Therefore, the bottom base rail is one foot shorter than the roof. Width is measured from outside base rail to the other outside base rail.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq5">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
              <p class="mb-0">
                <i class="icon-question"></i>What is the highest leg height I can order? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse5" class="collapse" role="tabpanel" aria-labelledby="faq5">
            <div class="card-block">
              A. 12’ is a standard leg height, anything above 12’ can be done.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq6">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse6" aria-expanded="false" aria-controls="faqCollapse6">
              <p class="mb-0">
                <i class="icon-question"></i>How much adjustment do you have to level your carport? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse6" class="collapse" role="tabpanel" aria-labelledby="faq6">
            <div class="card-block">
              A. You about 2-3 inches to work with.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq7">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse7" aria-expanded="false" aria-controls="faqCollapse7">
              <p class="mb-0">
                <i class="icon-question"></i>How much adjustment do you have to level your carport? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse7" class="collapse" role="tabpanel" aria-labelledby="faq7">
            <div class="card-block">
              A. You about 2-3 inches to work with.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq8">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse8" aria-expanded="false" aria-controls="faqCollapse8">
              <p class="mb-0">
                <i class="icon-question"></i>Why should I consider a vertical roof versus a horizontal roof? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse8" class="collapse" role="tabpanel" aria-labelledby="faq8">
            <div class="card-block">
              A. The vertical roof lets water, snow, etc. run off quickly and does not let it pond up on the roof.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq9">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse9" aria-expanded="false" aria-controls="faqCollapse9">
              <p class="mb-0">
                <i class="icon-question"></i>How can I avoid leaks on my building? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse9" class="collapse" role="tabpanel" aria-labelledby="faq9">
            <div class="card-block">
              A. All of our buildings are leakproof however, when it comes to 31’ buildings and longer, we strongly recommend our A-Frame Vertical roof which can prevent future leaks in the long term.
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header" role="tab" id="faq10">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse10" aria-expanded="false" aria-controls="faqCollapse10">
              <p class="mb-0">
                <i class="icon-question"></i>Can you add to a carport after it is already installed? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse10" class="collapse" role="tabpanel" aria-labelledby="faq10">
            <div class="card-block">
              A. Yes. There will be an extra service charge. The original carport must be an American Steel Carport. In order to add walk-in or overhead or roll-up doors, the original carport must be 6 foot or taller.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq11">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse11" aria-expanded="false" aria-controls="faqCollapse11">
              <p class="mb-0">
                <i class="icon-question"></i>What is the pitch in the center of the carport? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse11" class="collapse" role="tabpanel" aria-labelledby="faq11">
            <div class="card-block">
              A. Pitch on the roof is 3/12 & 4/12, but the pitch can be customized to fit your needs.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq12">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse12" aria-expanded="false" aria-controls="faqCollapse12">
              <p class="mb-0">
                <i class="icon-question"></i>What types of anchors do you have? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse12" class="collapse" role="tabpanel" aria-labelledby="faq12">
            <div class="card-block">
              A. 3 foot temporary pin anchors ground and clay or asphalt installation (not responsible if you choose pin anchors only) Double helix mobile home anchors for ground and clay installation only (extra cost) Concrete anchors for concrete installation only (extra cost)
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq13">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse13" aria-expanded="false" aria-controls="faqCollapse13">
              <p class="mb-0">
                <i class="icon-question"></i>Do I need a permit? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse13" class="collapse" role="tabpanel" aria-labelledby="faq13">
            <div class="card-block">
              A. You need to contact your local building department.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq14">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse14" aria-expanded="false" aria-controls="faqCollapse14">
              <p class="mb-0">
                <i class="icon-question"></i>Does color affect my price? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse14" class="collapse" role="tabpanel" aria-labelledby="faq14">
            <div class="card-block">
              A. You can choose a different color top, trim, sides, and ends at no additional charge from our standard 12 color choices.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq15">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse15" aria-expanded="false" aria-controls="faqCollapse15">
              <p class="mb-0">
                <i class="icon-question"></i>Can I get a set of engineer plans? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse15" class="collapse" role="tabpanel" aria-labelledby="faq15">
            <div class="card-block">
              A. Yes. You may get the plans as long a we install the building.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq16">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse16" aria-expanded="false" aria-controls="faqCollapse16">
              <p class="mb-0">
                <i class="icon-question"></i>Does American Steel install on boat docks? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse16" class="collapse" role="tabpanel" aria-labelledby="faq16">
            <div class="card-block">
              A. Yes with pre-requisites. We will need the additional information below. 

              1. Is the boat dock a floating dock? or a dock that is connected to the lake bed? or the side of the lake?
              2. We will need pictures of the boat dock and surrounding area.
              3. We will need pictures of the pathway to the boat dock. 

              Once we have this information we can check to see if we can approve the request. 

              PLEASE NOTE: THERE WILL BE ADDITIONAL LABOR FEES DUE TO LIABILITY ISSUES AND THE INSTALLERS SAFETY. 

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="faq17">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faqCollapse17" aria-expanded="false" aria-controls="faqCollapse17">
              <p class="mb-0">
                <i class="icon-question"></i>What payment methods are available? <span class="icon-collapse float-right"></span>
              </p>
            </a>
          </div>
          <div id="faqCollapse17" class="collapse" role="tabpanel" aria-labelledby="faq17">
            <div class="card-block">
              A. All orders are COD. We accept personal or cashier's checks, money order, Visa, Master Card, American Express and Discover.
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


  <footer class="footer">
    <div class="footer-social-links text-center py-30">
      <img src="../images/icons/icon_facebook.svg" alt="facebook" height="40px" class="mx-2">
      <img src="../images/icons/icon_twitter.svg" alt="twitter" height="40px" class="mx-2">
      <img src="../images/icons/icon_google+.svg" alt="google+" height="40px" class="mx-2">
      <img src="../images/icons/icon_youtube.svg" alt="youtube" height="40px" class="mx-2">
      <img src="../images/icons/icon_pinterest.svg" alt="pintrest" height="40px" class="mx-2">
      <img src="../images/icons/icon_instagram.svg" alt="instagram" height="40px" class="mx-2">
    </div>
    <div class="footer-nav-links d-flex flex-row">
      <ul class="list-inline mb-0 align-self-center">
        <li><img src="../images/icons/icon_footer_logo1.png" alt="logo"></li>
      </ul>
      <ul class="list-inline mb-0">
        <li><a href="about.html">About</a></li>
        <li><a href="our_company.html">Our Company</a></li>
        <li><a href="">Logos & Templates</a></li>
        <li><a href="customer_service.html">Customer Service</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="product.html">Product</a></li>
        <li><a href="features.html">Features</a></li>
        <li><a href="">Build & Price</a></li>
        <li><a href="">Estimate</a></li>
        <li><a href="faq.html">FAQ</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="careers.html">Careers</a></li>
        <li><a href="">Job Listings</a></li>
        <li><a href="">Interview Tips</a></li>
        <li><a href="">Benefits</a></li>
      </ul>
      
      <ul class="list-inline mb-0">
        <li><a href="contact.html">Contact</a></li>
        <li>457 North Broadway Street</li>
        <li> Joshua, TX 76058</li>
        <li> Phone: (866) 730-9865</li>
        <li> Fax: (888) 853-1805</li>
      </ul>

      <ul class="list-inline mb-0 align-self-center">
        <li><img src="../images/icons/icon_footer_logo2.png" alt="verified"></li>
      </ul>
    </div>
    <div class="footer-copyright d-flex flex-row">
      <ul class="list-inline mb-0">
        <li>Copyright © 2018 American Steel Carports Inc., All Rights Reserved</li>
      </ul>
      <ul class="list-inline mb-0 terms-privacy">
        <li class="d-inline-flex"><a href="terms.html">Terms</a></li>
        <li class="d-inline-flex"><a href="privacy_policy.html">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>


  <!-- login modal starts -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header mx-auto px-0 border-bottom-0">
          <h5 class="modal-title text-danger dealer-heading mb-2" id="loginModal">Dealer Login</h5>
        </div>

        <div class="modal-body">
          <form  class="px-5">
            <div class="form-group">
              <label for="loginUserName">User Name or Email</label>
              <input type="text" class="form-control" id="loginUserName" name="loginUserName">
            </div>
            <div class="form-group">
              <label for="loginpassword">Password <sup class="text-danger">*</sup></label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword" required="required">
            </div>
            <a href="#" class="text-danger">Forgot Password?</a>
            <div class="clearfix"></div>

            <div class="float-right mt-4">
              <button class="btn btn-grey mr-3 px-4"  data-dismiss="modal">Cancel</button>
              <button class="btn btn-danger px-4" data-toggle="modal" data-target="#completeProfile">Submit</button>
            </div>  
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <p class="mb-0">Not a dealer yet? <a href="<?php echo get_page_link( get_page_by_title( BecomeDealer )->ID ); ?>" class="text-danger"> Become a dealer </a></p>
        </div>
        <div class="modal-footer justify-content-center">
          <div class="media">
            <img class="d-flex mr-3 align-self-center" src="../images/logo_red.png" alt="">
            <div class="media-body">
              Disclaimer:We do not give out individual information such as telephone numbers, addresses, screen names or email addresses, unless specifically authorized to do so or compelled by valid court order.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- complete profile modal  -->
  <div class="modal fade" id="completeProfile" tabindex="-1" role="dialog" aria-labelledby="completeProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0 text-center">
          <h5 class="modal-title text-danger dealer-heading mb-0" id="completeProfileModalLabel">Company Profile</h5>
        </div>
        <div class="modal-body">
          <p class="text-center mb-0">Complete your company profile</p>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-grey " data-dismiss="modal">Not now</button>
          <button type="button" class="btn btn-danger px-4 ml-3">Ok</button>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../js/jquery-3.1.1.slim.min.js"></script>
  <script src="../js/tether.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/custom.js"></script>
  
</body>
</html>

