<!doctype html>
<html lang="en">
<head>
  <title>American Steel</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <nav class="navbar navbar-toggleable-md custom-primary-header" style="background-image: url('../images/banner/header_dealer.svg');">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#primaryNavDropdown" aria-controls="primaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="primaryNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown dealer-dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dealers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" data-toggle="modal" data-target="#loginModal">Login</a>
            <a class="dropdown-item" href="become_dealer.html">Become a Dealer</a>
            <a class="dropdown-item" href="find_dealer.html">Find a Dealer</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="service_area.html">Service Area</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="whats_new.html">What’s New!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-toggleable-md custom-secondary-header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#secondaryNavDropdown" aria-controls="secondaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-md-up" href="/"><img src="../images/logo_red.png" height="50px"></a>
    <a class="navbar-brand hidden-sm-down" href="/"><img src="../images/logo_header.png" height="66px"></a>
    <div class="navigation-menu">
      <ul class="navbar-nav d-flex justify-content-between justify-content-md-end customer-service">
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 730-8865">Customer Service (866) 730-8865</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 471-8761">Online Sales (866) 471-8761</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="secondaryNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="products.html">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="build_price.html">Build & Price</a>
          </li>
          <li class="nav-item  active">
            <a class="nav-link" href="features.html">Features</a>
          </li>
        </ul>
        <form role="search" class="form-inline my-2 my-lg-0 searchform ml-0 ml-md-3" >
          <input type="text" class="form-control form-control-search" placeholder="Search here…" required/>
          <button type="submit" id="searchsubmit" class="btn btn-danger my-2 my-sm-0 ml-3">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="features">
    <div id="featureaCarouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#featureaCarouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#featureaCarouselIndicators" data-slide-to="1"></li>
        <li data-target="#featureaCarouselIndicators" data-slide-to="2"></li>
        <li data-target="#featureaCarouselIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="d-block img-fluid" style="background-image: url('../images/banner/features-pg-hero.png')"></div>
        </div>
        <div class="carousel-item">
          <div class="d-block img-fluid" style="background-image: url('../images/banner/features-pg-hero.png')"></div>
        </div>
        <div class="carousel-item">
          <div class="d-block img-fluid" style="background-image: url('../images/banner/features-pg-hero.png')"></div>
        </div>
        <div class="carousel-item">
          <div class="d-block img-fluid" style="background-image: url('../images/banner/features-pg-hero.png')"></div>
        </div>
      </div>
    </div>
    <section class="py-60">
      <div class="container">
        <h5 class="dealer-heading text-danger text-center">Carport and Structural Steel Features</h5>
        <p><span class="text-danger d-inline-block font-montserrat-medium">12 Gauge Tubing –</span> 2-1/4” *20 year limited warranty on rust through of framing assuming normal user care and maintenance. See contract for details. </p>
        <p><span class="text-danger d-inline-block font-montserrat-medium"> Roof Styles –</span> Upgrade to our residential style roofs; A-Frame Horizontal or A-Frame Vertical</p>
        <p><span class="text-danger d-inline-block font-montserrat-medium"> Extra Trusses –</span> Concerned about snow? Add extra trusses to increase your Snow PSI rating.</p>
        <p><span class="text-danger d-inline-block font-montserrat-medium"> Larger Braces –</span> Depending on width and height of structure, brace size will vary to keep your building strong and stable. 26 Gauge Steel Roof – Available on special orders. Restrictions apply.</p>
      </div>
    </section>
    <hr class="divider my-0">

    <section class="feature-media-wrapper py-60 pb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-sm-12 feature-media-block">
            <div class="media">
              <img class="d-flex mr-3" src="../images/icons/icon_engineer_certified_black.svg" alt="feature-icon font-montserrat-medium" height="44px;">
              <div class="media-body">
                <h6 class="mt-0 font-montserrat-medium ">Engineer Certified</h6>
                <p class="media-detail mb-0">American Steel Carport’s products are engineer certified to meet your state codes (except hunting blinds). Any other requirements such as “extra snow load baring weight and wind load resistance” can be met with engineer certification “upon customer’s request”. Customized buildings are always welcomed. We also provide generic plans at no extra charge on most standard buildings.</p>
              </div>
            </div>
          </div> 

          <div class="col-md-6 col-lg-4 col-sm-12 feature-media-block">
            <div class="media">
              <img class="d-flex mr-3" src="../images/icons/icon_20year_warranty_black.svg" alt="feature-icon font-montserrat-medium" height="44px;">
              <div class="media-body">
                <h6 class="mt-0 font-montserrat-medium ">20 Years Warranty</h6>
                <p class="media-detail mb-0"><a href="/" class="text-danger">American Steel Carports</a> warrants for a period of 20 years from the date of completion of installation, against rust through on the framing only assuming normal user care and maintenance on 12 gauge materials. This warranty does not apply to 14 gauge materials. Additionally, galvanization extends the life and appearance of your next structure.</p>
              </div>
            </div>
          </div> 

          <div class="col-md-6 col-lg-4 col-sm-12 feature-media-block">
            <div class="media">
              <img class="d-flex mr-3" src="../images/icons/icon_free_shipping_and_installation_black.svg" alt="feature-icon font-montserrat-medium" height="26px;">
              <div class="media-body">
                <h6 class="mt-0 font-montserrat-medium ">Free Shipping & Installation</h6>
                <p class="media-detail mb-0">Because we understand the hassle of hiring contractors, we install your <a href="/" class="text-danger">steel structure </a>at no extra cost to you on your level land. Don’t worry, we assist our customers every step of the way.</p>
              </div>
            </div>
          </div> 

          <div class="col-md-6 col-lg-4 col-sm-12 feature-media-block">
            <div class="media">
              <img class="d-flex mr-3" src="../images/icons/icon_90mph_wind_warranty_black.svg" alt="feature-icon font-montserrat-medium" height="28px;">
              <div class="media-body">
                <h6 class="mt-0 font-montserrat-medium ">90 MPH Wind Warranty</h6>
                <p class="media-detail mb-0">Stronger Lasts Longer. With the optional wind warranty packages your structure is guaranteed to withstand harsh winds, plain and simple. Wind warranty packages start from 90 mph and up.</p>
              </div>
            </div>
          </div> 

          <div class="col-md-6 col-lg-4 col-sm-12 feature-media-block">
            <div class="media">
              <img class="d-flex mr-3" src="../images/icons/icon_360_roof_bracing_black.svg" alt="feature-icon font-montserrat-medium" height="44px;">
              <div class="media-body">
                <h6 class="mt-0 font-montserrat-medium ">360º Roof Bracing</h6>
                <p class="media-detail mb-0">Our metal buildings are reinforced with braces on every corner and center of every truss. These braces are put in place to ensure your shelter remains squared and stable for extra strength, while preventing the roof from caving.</p>
              </div>
            </div>
          </div> 

          <div class="col-md-6 col-lg-4 col-sm-12 feature-media-block">
            <div class="media">
              <img class="d-flex mr-3" src="../images/icons/icon_4_season_workmanship_warranty_black.svg" alt="feature-icon font-montserrat-medium" height="42px;">
              <div class="media-body">
                <h6 class="mt-0 font-montserrat-medium ">4 Season Workmanship Warranty</h6>
                <p class="media-detail mb-0">With the 4 season workmanship warranty, we are standing behind our product throughout the four seasons. Your metal unit will be protected from the natural elements such as heavy snow loads, harsh winds, blazing heat, and anything in between. We have your back. American Steel Carports warrants for a period of 1 year from date of complete installation, against defects in workmanship assuming normal user care and maintenance. See contract for more details.</p>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </section>
    <hr class="divider my-0">

    <section class="py-60">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-4 col-xl-4">
            <div class="card-tile-wrapper">
              <div class="card-tile-inner">
                <div class="card-tile-front">
                  <figure class="card-tile-image-wrap"><img class="card-tile-image" src="../images/carport/open_standard_carport.png" alt="" width="313" height="350">
                  </figure>
                  <div class="card-tile-content">
                    <h6>A-Frame Horizontal Steel Carport</h6>
                  </div>
                </div>
                <div class="card-tile-back">
                  <figure class="card-tile-image-wrap"><img class="card-tile-image" src="../images/carport/open_horizontal_carport.png" alt="" width="313" height="350">
                  </figure>
                  <div class="card-tile-content">
                    <h6 class="card-tile-content-title"><a href="feature_detail.html">A-Frame Horizontal Steel Carport</a></h6>
                    <p>The classic standard style roof is our most economical option. This standard style gives your garage the rounded, curved look, and comes in a variety of sizes. The carport comes with a standard horizontal roof where the roof panels run parallel to the side of the carport.</p><a class="button button-link" href="feature_detail.html">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-xl-4">
            <div class="card-tile-wrapper">
              <div class="card-tile-inner">
                <div class="card-tile-front">
                  <figure class="card-tile-image-wrap"><img class="card-tile-image" src="../images/carport/open_standard_carport.png" alt="" width="313" height="350">
                  </figure>
                  <div class="card-tile-content">
                    <h6>A-Frame Vertical Metal Garages</h6>
                  </div>
                </div>
                <div class="card-tile-back">
                  <figure class="card-tile-image-wrap"><img class="card-tile-image" src="../images/carport/open_horizontal_carport.png" alt="" width="313" height="350">
                  </figure>
                  <div class="card-tile-content">
                    <h6 class="card-tile-content-title"><a href="feature_detail.html">A-Frame Vertical Metal Garages</a></h6>
                    <p>The classic standard style roof is our most economical option. This standard style gives your garage the rounded, curved look, and comes in a variety of sizes. The carport comes with a standard horizontal roof where the roof panels run parallel to the side of the carport.</p><a class="button button-link" href="feature_detail.html">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-xl-4">
            <div class="card-tile-wrapper">
              <div class="card-tile-inner">
                <div class="card-tile-front">
                  <figure class="card-tile-image-wrap"><img class="card-tile-image" src="../images/carport/open_standard_carport.png" alt="" width="313" height="350">
                  </figure>
                  <div class="card-tile-content">
                    <h6>Standard Roof Style</h6>
                  </div>
                </div>
                <div class="card-tile-back">
                  <figure class="card-tile-image-wrap"><img class="card-tile-image" src="../images/carport/open_horizontal_carport.png" alt="" width="313" height="350">
                  </figure>
                  <div class="card-tile-content">
                    <h6 class="card-tile-content-title"><a href="feature_detail.html">Standard Roof Style</a></h6>
                    <p>The classic standard style roof is our most economical option. This standard style gives your garage the rounded, curved look, and comes in a variety of sizes. The carport comes with a standard horizontal roof where the roof panels run parallel to the side of the carport.</p><a class="button button-link" href="feature_detail.html">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-xl-4">
            <div class="card-tile-wrapper">
              <div class="card-tile-inner">
                <div class="card-tile-front">
                  <figure class="card-tile-image-wrap"><img class="card-tile-image" src="../images/carport/open_standard_carport.png" alt="" width="313" height="350">
                  </figure>
                  <div class="card-tile-content">
                    <h6>Garages & Carports</h6>
                  </div>
                </div>
                <div class="card-tile-back">
                  <figure class="card-tile-image-wrap"><img class="card-tile-image" src="../images/carport/open_horizontal_carport.png" alt="" width="313" height="350">
                  </figure>
                  <div class="card-tile-content">
                    <h6 class="card-tile-content-title"><a href="feature_detail.html">Garages & Carports</a></h6>
                    <p>The classic standard style roof is our most economical option. This standard style gives your garage the rounded, curved look, and comes in a variety of sizes. The carport comes with a standard horizontal roof where the roof panels run parallel to the side of the carport.</p><a class="button button-link" href="feature_detail.html">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-xl-4">
            <div class="card-tile-wrapper">
              <div class="card-tile-inner">
                <div class="card-tile-front">
                  <figure class="card-tile-image-wrap"><img class="card-tile-image" src="../images/carport/open_standard_carport.png" alt="" width="313" height="350">
                  </figure>
                  <div class="card-tile-content">
                    <h6>Storage Units</h6>
                  </div>
                </div>
                <div class="card-tile-back">
                  <figure class="card-tile-image-wrap"><img class="card-tile-image" src="../images/carport/open_horizontal_carport.png" alt="" width="313" height="350">
                  </figure>
                  <div class="card-tile-content">
                    <h6 class="card-tile-content-title"><a href="feature_detail.html">Storage Units</a></h6>
                    <p>The classic standard style roof is our most economical option. This standard style gives your garage the rounded, curved look, and comes in a variety of sizes. The carport comes with a standard horizontal roof where the roof panels run parallel to the side of the carport.</p><a class="button button-link" href="feature_detail.html">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-xl-4">
            <div class="card-tile-wrapper">
              <div class="card-tile-inner">
                <div class="card-tile-front">
                  <figure class="card-tile-image-wrap"><img class="card-tile-image" src="../images/carport/open_standard_carport.png" alt="" width="313" height="350">
                  </figure>
                  <div class="card-tile-content">
                    <h6>Partial enclosed Carports</h6>
                  </div>
                </div>
                <div class="card-tile-back">
                  <figure class="card-tile-image-wrap"><img class="card-tile-image" src="../images/carport/open_horizontal_carport.png" alt="" width="313" height="350">
                  </figure>
                  <div class="card-tile-content">
                    <h6 class="card-tile-content-title"><a href="feature_detail.html">Partial enclosed Carports</a></h6>
                    <p>The classic standard style roof is our most economical option. This standard style gives your garage the rounded, curved look, and comes in a variety of sizes. The carport comes with a standard horizontal roof where the roof panels run parallel to the side of the carport.</p><a class="button button-link" href="feature_detail.html">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div><!-- row -->
      </div><!-- container -->
    </section>
    <hr class="divider my-0">

    
    <section class="bg-grey py-60">
      <div class="container">
        <h2 class="text-danger text-center dealer-heading mb-3">Color Options</h2>
        <p class="text-center mb-5">Watch our skilled team erect a building in no time.</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <div class="clearfix"></div>
        <a href="" class="d-block text-center mt-5"><button class="text-white btn btn-danger">View More </button></a>
      </div>
    </section>
    <hr class="divider my-0">

    <section class="py-60">
      <div class="container">
        <h2 class="text-danger text-center dealer-heading mb-3">Color Options</h2>
        <p class="text-center mb-5">American Steel Carports, Inc. offers 12 different color options that you can choose from, making it easier to match the surroundings. Our panels are 29 gauge steel. They are available in standard lengths of 21’, 26’ and 31’.</p>

        <div class="row">
          <div class="col-md-2 col-sm-6">
            <div class="card rounded-0 border-0 mb-4">
              <img class="card-img-top rounded-0" src="../images/colorSample/barn_red.png" height="160px">
              <p class="card-text mt-2">Barn Red</p>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="card rounded-0 border-0 mb-4">
              <img class="card-img-top rounded-0" src="../images/colorSample/black.png" height="160px">
              <p class="card-text mt-2">Black</p>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="card rounded-0 border-0 mb-4">
              <img class="card-img-top rounded-0" src="../images/colorSample/burgundy.png" height="160px">
              <p class="card-text mt-2">Burgundy</p>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="card rounded-0 border-0 mb-4">
              <img class="card-img-top rounded-0" src="../images/colorSample/clay.png" height="160px">
              <p class="card-text mt-2">Clay</p>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="card rounded-0 border-0 mb-4">
              <img class="card-img-top rounded-0" src="../images/colorSample/earth_brown.png" height="160px">
              <p class="card-text mt-2">Earth Brown</p>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="card rounded-0 border-0 mb-4">
              <img class="card-img-top rounded-0" src="../images/colorSample/evergreen.png" height="160px">
              <p class="card-text mt-2">Evergreen</p>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="card rounded-0 border-0 mb-4">
              <img class="card-img-top rounded-0" src="../images/colorSample/pebble_beige.png" height="160px">
              <p class="card-text mt-2">Pebble Beige</p>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="card rounded-0 border-0 mb-4">
              <img class="card-img-top rounded-0" src="../images/colorSample/pewter_gray.png" height="160px">
              <p class="card-text mt-2">Pewter Gray</p>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="card rounded-0 border-0 mb-4">
              <img class="card-img-top rounded-0" src="../images/colorSample/quaker_gray.png" height="160px">
              <p class="card-text mt-2">Quaker Gray</p>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="card rounded-0 border-0 mb-4">
              <img class="card-img-top rounded-0" src="../images/colorSample/rawhide.png" height="160px">
              <p class="card-text mt-2">Rawhide</p>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="card rounded-0 border-0 mb-4">
              <img class="card-img-top rounded-0" src="../images/colorSample/slate_blue.png" height="160px">
              <p class="card-text mt-2">Slate Blue</p>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="card rounded-0 border-0 mb-4">
              <img class="card-img-top rounded-0" src="../images/colorSample/white.png" height="160px">
              <p class="card-text mt-2">White</p>
            </div>
          </div>
        </div><!-- row -->

        <div class="row mt-4">
          <div class="col-xs-12 col-md-9 align-self-center">
            <h5 class="text-danger">Request A Sample</h5>
            <p class="mb-0">We’ll send you a maximum of 5 metal samples along with a brochure and pricing for your state. </p>
            <small class="form-text">(Your information will be held confidential and will not be sold.)</small>
          </div>
          <div class="col-xs-12 col-md-3 align-self-center mt-3 mt-md-0 text-right">
            <a class="btn btn-danger text-white" href="request_color_sample.html">Request Color Sample</a>
          </div>
        </div><!-- row -->
      </div>
    </section>
    <hr class="divider my-0">
    
    <section class="py-60">
      <div class="container">
        <h2 class="text-danger text-center dealer-heading">Let's upgrade</h2>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="card rounded-0 border-0 mb-5">
              <img class="card-img-top rounded-0" src="../images/banner/image_product_page_45_angles.png" height="250px">
              <h5 class="card-text mt-2">45° angles</h5>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="card rounded-0 border-0 mb-5">
              <img class="card-img-top rounded-0" src="../images/banner/image_product_page_braces.png" height="250px">
              <h5 class="card-text mt-2">Braces</h5>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="card rounded-0 border-0 mb-5">
              <img class="card-img-top rounded-0" src="../images/banner/image_product_page_colored_screws.png" height="250px">
              <h5 class="card-text mt-2">Colored Screws</h5>
            </div>
          </div>
        </div>
        <div class="text-center mt-2"><button class="btn btn-danger">View All</button></div>
      </div>
    </section>


  </div>

    <footer class="footer">
    <div class="footer-social-links text-center py-30">
      <img src="../images/icons/icon_facebook.svg" alt="facebook" height="40px" class="mx-2">
      <img src="../images/icons/icon_twitter.svg" alt="twitter" height="40px" class="mx-2">
      <img src="../images/icons/icon_google+.svg" alt="google+" height="40px" class="mx-2">
      <img src="../images/icons/icon_youtube.svg" alt="youtube" height="40px" class="mx-2">
      <img src="../images/icons/icon_pinterest.svg" alt="pintrest" height="40px" class="mx-2">
      <img src="../images/icons/icon_instagram.svg" alt="instagram" height="40px" class="mx-2">
    </div>
    <div class="footer-nav-links d-flex flex-row">
      <ul class="list-inline mb-0 align-self-center">
        <li><img src="../images/icons/icon_footer_logo1.png" alt="logo"></li>
      </ul>
      <ul class="list-inline mb-0">
        <li><a href="about.html">About</a></li>
        <li><a href="our_company.html">Our Company</a></li>
        <li><a href="">Logos & Templates</a></li>
        <li><a href="customer_service.html">Customer Service</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="product.html">Product</a></li>
        <li><a href="features.html">Features</a></li>
        <li><a href="">Build & Price</a></li>
        <li><a href="">Estimate</a></li>
        <li><a href="faq.html">FAQ</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="careers.html">Careers</a></li>
        <li><a href="">Job Listings</a></li>
        <li><a href="">Interview Tips</a></li>
        <li><a href="">Benefits</a></li>
      </ul>
      
      <ul class="list-inline mb-0">
        <li><a href="contact.html">Contact</a></li>
        <li>457 North Broadway Street</li>
        <li> Joshua, TX 76058</li>
        <li> Phone: (866) 730-9865</li>
        <li> Fax: (888) 853-1805</li>
      </ul>

      <ul class="list-inline mb-0 align-self-center">
        <li><img src="../images/icons/icon_footer_logo2.png" alt="verified"></li>
      </ul>
    </div>
    <div class="footer-copyright d-flex flex-row">
      <ul class="list-inline mb-0">
        <li>Copyright © 2018 American Steel Carports Inc., All Rights Reserved</li>
      </ul>
      <ul class="list-inline mb-0 terms-privacy">
        <li class="d-inline-flex"><a href="terms.html">Terms</a></li>
        <li class="d-inline-flex"><a href="privacy_policy.html">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>

  <!-- login modal starts -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header mx-auto px-0 border-bottom-0">
          <h5 class="modal-title text-danger dealer-heading mb-2" id="loginModal">Dealer Login</h5>
        </div>

        <div class="modal-body">
          <form  class="px-5">
            <div class="form-group">
              <label for="loginUserName">User Name or Email</label>
              <input type="text" class="form-control" id="loginUserName" name="loginUserName">
            </div>
            <div class="form-group">
              <label for="loginpassword">Password <sup class="text-danger">*</sup></label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword" required="required">
            </div>
            <a href="#" class="text-danger">Forgot Password?</a>
            <div class="clearfix"></div>

            <div class="float-right mt-4">
              <button class="btn btn-grey mr-3 px-4"  data-dismiss="modal">Cancel</button>
              <button class="btn btn-danger px-4" data-toggle="modal" data-target="#completeProfile">Submit</button>
            </div>  
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <p class="mb-0">Not a dealer yet? <a href="<?php echo get_page_link( get_page_by_title( BecomeDealer )->ID ); ?>" class="text-danger"> Become a dealer </a></p>
        </div>
        <div class="modal-footer justify-content-center">
          <div class="media">
            <img class="d-flex mr-3 align-self-center" src="../images/logo_red.png" alt="">
            <div class="media-body">
              Disclaimer:We do not give out individual information such as telephone numbers, addresses, screen names or email addresses, unless specifically authorized to do so or compelled by valid court order.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- complete profile modal  -->
  <div class="modal fade" id="completeProfile" tabindex="-1" role="dialog" aria-labelledby="completeProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0 text-center">
          <h5 class="modal-title text-danger dealer-heading mb-0" id="completeProfileModalLabel">Company Profile</h5>
        </div>
        <div class="modal-body">
          <p class="text-center mb-0">Complete your company profile</p>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-grey " data-dismiss="modal">Not now</button>
          <button type="button" class="btn btn-danger px-4 ml-3">Ok</button>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../js/jquery-3.1.1.slim.min.js"></script>
  <script src="../js/tether.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/custom.js"></script>
  
</body>
</html>
