<!doctype html>
<html lang="en">
<head>
  <title>American Steel</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <nav class="navbar navbar-toggleable-md custom-primary-header" style="background-image: url('../images/banner/header_dealer.svg');">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#primaryNavDropdown" aria-controls="primaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="primaryNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown dealer-dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dealers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" data-toggle="modal" data-target="#loginModal">Login</a>
            <a class="dropdown-item" href="become_dealer.html">Become a Dealer</a>
            <a class="dropdown-item" href="find_dealer.html">Find a Dealer</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="service_area.html">Service Area</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="whats_new.html">What’s New!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-toggleable-md custom-secondary-header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#secondaryNavDropdown" aria-controls="secondaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-md-up" href="/"><img src="../images/logo_red.png" height="50px"></a>
    <a class="navbar-brand hidden-sm-down" href="/"><img src="../images/logo_header.png" height="66px"></a>
    <div class="navigation-menu">
      <ul class="navbar-nav d-flex justify-content-between justify-content-md-end customer-service">
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 730-8865">Customer Service (866) 730-8865</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 471-8761">Online Sales (866) 471-8761</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="secondaryNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="products.html">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="build_price.html">Build & Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="features.html">Features</a>
          </li>
        </ul>
        <form role="search" class="form-inline my-2 my-lg-0 searchform" >
          <input type="text" class="form-control form-control-search" placeholder="Search here…" required/>
          <button type="submit" id="searchsubmit" class="btn btn-danger my-2 my-sm-0 ml-3">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="customer_service.html">Customer Service</a></li>
    <li class="breadcrumb-item active">Customer Service</li>
  </ol>

  <section class="py-60 text-center">
    <div class="container">
      <h2 class="text-danger dealer-heading mt-0 mb-3">FINANCING</h2>
      <p class="mb-0">Please fill out and complete the form below to see if you qualify for hassle free financing through one of our two companies.</p>
    </div>
  </section>
  <hr class="divider my-0">

  <section class="py-60">
    <div class="container">
      <h2 class="text-danger dealer-heading mt-0 mb-3 text-center">Primary Applicant</h2>
      <p class="text-center mb-5">(Please Provide the Information Required)</p>

      <div class="row mb-2">
        <div class="form-group col-12 col-md-6">
          <label for="FfirstName">First Name <sup class="text-danger">*</sup></label>
          <input type="text" class="form-control" id="FfirstName" name="FfirstName" required>
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="FlastName">Last Name</label>
          <input type="text" class="form-control" id="FlastName" name="FlastName" required>
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="Fphone">Phone Number <sup class="text-danger">*</sup></label>
          <input type="text" class="form-control" id="Fphone" name="Fphone" required>
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="Femail">Email <sup class="text-danger">*</sup></label>
          <input type="email" class="form-control" id="Femail" name="Femail" required>
        </div>
      </div>
      <p class="text-center py-40 mb-0">We take the privacy of your information very serious and we will call you shortly to process your financing application</p>
      <div class="text-right">
        <buttton class="btn btn-grey">Reset</buttton>
        <buttton class="btn btn-danger ml-3">Submit</buttton>
      </div>
    </div>
  </section>
  <hr class="divider my-0"> 

  <section class="py-60">
    <div class="container">
      <h2 class="text-danger dealer-heading mt-0 text-center">Things to Know</h2>
      <ol class="mb-0">
        <li class="mb-3">
          <p class="mb-0 font-montserrat-medium"><b>Financing Companies for Your Convenience</b></p>
          <p class="mb-0">We have financing companies who will work with your financial situations. If you happen to be declined, the lender will send you a letter in the mail within 30 days to let you know the reason. *The number of companies available will vary by state*</p>
        </li>
        <li class="mb-3">
          <p class="mb-0 font-montserrat-medium"><b>Avoid Delays</b></p>
          <p class="mb-0">Residential and employment information must be 2 years. if you have not been at either for at least 2 years please list a previous location. By doing so, it will avoid delays in the process. </p>
        </li>
        <li >
          <p class="mb-0 font-montserrat-medium"><b>Interests Rates</b></p>
          <p class="mb-0">Interest rates on the loan depend on the credit score, debt to income ratio, loan amount, and loan terms. This is not one set rate for everyone. All decisions involving the customer’s interest rate & approval are based on those 4 pieces of information and will be determined by the financial institution.</p>
        </li>
      </ol>
    </div>
  </section>
  <hr class="divider my-0"> 

  <section class="toll-free bg-grey">
    <div class="container">
      <h2 class="text-danger text-center dealer-heading mt-0 text-uppercase">Give us call</h2>
      <p class="text-center mb-4">Please feel free to call or email us with any questions or comments you may have for our skilled team. Purchase with confidence, because American Steel Carports has full customer support to help you with any needs or concerns you may have.</p>
      <div class="row">
        <div class="col-xs-12 col-md-4 d-flex justify-content-center">
          <div class="media">
            <img class="d-flex align-self-center mr-3" src="../images/icons/icon_call.svg" height="36px" alt="Generic placeholder image">
            <div class="media-body">
              <p class="mb-0">For Customer Service</p>
              <h5 class="toll-free-number my-0 text-danger">866. 730. 9865</h5>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 d-flex justify-content-center">
          <div class="media">
            <img class="d-flex align-self-center mr-3" src="../images/icons/icon_call.svg" height="36px" alt="Generic placeholder image">
            <div class="media-body">
              <p class="mb-0">For Sales Representative</p>
              <h5 class="toll-free-number my-0 text-danger">866. 471. 8761</h5>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 d-flex justify-content-center">
          <div class="media">
            <img class="d-flex align-self-center mr-3" src="../images/icons/icon_call.svg" height="36px" alt="Generic placeholder image">
            <div class="media-body">
              <p class="mb-0">For Fax</p>
              <h5 class="toll-free-number my-0 text-danger">866. 730. 5108</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- toll-free -->
  
  <footer class="footer">
    <div class="footer-social-links text-center py-30">
      <img src="../images/icons/icon_facebook.svg" alt="facebook" height="40px" class="mx-2">
      <img src="../images/icons/icon_twitter.svg" alt="twitter" height="40px" class="mx-2">
      <img src="../images/icons/icon_google+.svg" alt="google+" height="40px" class="mx-2">
      <img src="../images/icons/icon_youtube.svg" alt="youtube" height="40px" class="mx-2">
      <img src="../images/icons/icon_pinterest.svg" alt="pintrest" height="40px" class="mx-2">
      <img src="../images/icons/icon_instagram.svg" alt="instagram" height="40px" class="mx-2">
    </div>
    <div class="footer-nav-links d-flex flex-row">
      <ul class="list-inline mb-0 align-self-center">
        <li><img src="../images/icons/icon_footer_logo1.png" alt="logo"></li>
      </ul>
      <ul class="list-inline mb-0">
        <li><a href="about.html">About</a></li>
        <li><a href="our_company.html">Our Company</a></li>
        <li><a href="">Logos & Templates</a></li>
        <li><a href="customer_service.html">Customer Service</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="product.html">Product</a></li>
        <li><a href="features.html">Features</a></li>
        <li><a href="">Build & Price</a></li>
        <li><a href="">Estimate</a></li>
        <li><a href="faq.html">FAQ</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="careers.html">Careers</a></li>
        <li><a href="">Job Listings</a></li>
        <li><a href="">Interview Tips</a></li>
        <li><a href="">Benefits</a></li>
      </ul>
      
      <ul class="list-inline mb-0">
        <li><a href="contact.html">Contact</a></li>
        <li>457 North Broadway Street</li>
        <li> Joshua, TX 76058</li>
        <li> Phone: (866) 730-9865</li>
        <li> Fax: (888) 853-1805</li>
      </ul>

      <ul class="list-inline mb-0 align-self-center">
        <li><img src="../images/icons/icon_footer_logo2.png" alt="verified"></li>
      </ul>
    </div>
    <div class="footer-copyright d-flex flex-row">
      <ul class="list-inline mb-0">
        <li>Copyright © 2018 American Steel Carports Inc., All Rights Reserved</li>
      </ul>
      <ul class="list-inline mb-0 terms-privacy">
        <li class="d-inline-flex"><a href="terms.html">Terms</a></li>
        <li class="d-inline-flex"><a href="privacy_policy.html">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>


  <!-- login modal starts -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header mx-auto px-0 border-bottom-0">
          <h5 class="modal-title text-danger dealer-heading mb-2" id="loginModal">Dealer Login</h5>
        </div>

        <div class="modal-body">
          <form  class="px-5">
            <div class="form-group">
              <label for="loginUserName">User Name or Email</label>
              <input type="text" class="form-control" id="loginUserName" name="loginUserName">
            </div>
            <div class="form-group">
              <label for="loginpassword">Password <sup class="text-danger">*</sup></label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword" required="required">
            </div>
            <a href="#" class="text-danger">Forgot Password?</a>
            <div class="clearfix"></div>

            <div class="float-right mt-4">
              <button class="btn btn-grey mr-3 px-4"  data-dismiss="modal">Cancel</button>
              <button class="btn btn-danger px-4" data-toggle="modal" data-target="#completeProfile">Submit</button>
            </div>  
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <p class="mb-0">Not a dealer yet? <a href="<?php echo get_page_link( get_page_by_title( BecomeDealer )->ID ); ?>" class="text-danger"> Become a dealer </a></p>
        </div>
        <div class="modal-footer justify-content-center">
          <div class="media">
            <img class="d-flex mr-3 align-self-center" src="../images/logo_red.png" alt="">
            <div class="media-body">
              Disclaimer:We do not give out individual information such as telephone numbers, addresses, screen names or email addresses, unless specifically authorized to do so or compelled by valid court order.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- complete profile modal  -->
  <div class="modal fade" id="completeProfile" tabindex="-1" role="dialog" aria-labelledby="completeProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0 text-center">
          <h5 class="modal-title text-danger dealer-heading mb-0" id="completeProfileModalLabel">Company Profile</h5>
        </div>
        <div class="modal-body">
          <p class="text-center mb-0">Complete your company profile</p>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-grey " data-dismiss="modal">Not now</button>
          <button type="button" class="btn btn-danger px-4 ml-3">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../js/jquery-3.1.1.slim.min.js"></script>
  <script src="../js/tether.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/custom.js"></script>

</body>
</html>
