<!doctype html>
<html lang="en">
<head>
  <title>American Steel</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <nav class="navbar navbar-toggleable-md custom-primary-header" style="background-image: url('../images/banner/header_dealer.svg');">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#primaryNavDropdown" aria-controls="primaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="primaryNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown dealer-dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dealers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" data-toggle="modal" data-target="#loginModal">Login</a>
            <a class="dropdown-item" href="become_dealer.html">Become a Dealer</a>
            <a class="dropdown-item" href="find_dealer.html">Find a Dealer</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="service_area.html">Service Area</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="whats_new.html">What’s New!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-toggleable-md custom-secondary-header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#secondaryNavDropdown" aria-controls="secondaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-md-up" href="/"><img src="../images/logo_red.png" height="50px"></a>
    <a class="navbar-brand hidden-sm-down" href="/"><img src="../images/logo_header.png" height="66px"></a>
    <div class="navigation-menu">
      <ul class="navbar-nav d-flex justify-content-between justify-content-md-end customer-service">
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 730-8865">Customer Service (866) 730-8865</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pb-0 py-md-2"" href="tel:(866) 471-8761">Online Sales (866) 471-8761</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="secondaryNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="products.html">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="build_price.html">Build & Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="features.html">Features</a>
          </li>
        </ul>
        <form role="search" class="form-inline my-2 my-lg-0 searchform ml-0 ml-md-3" >
          <input type="text" class="form-control form-control-search" placeholder="Search here…" required/>
          <button type="submit" id="searchsubmit" class="btn btn-danger my-2 my-sm-0 ml-3">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Data</li>
  </ol>
  <section class="whats-new py-60">
    <div class="container">
      <h2 class="text-danger text-center dealer-heading mb-0">what’s new</h2>
      <ul class="nav nav-pills py-60">
        <a class="nav-link active" href="#mostRecent" data-toggle="pill">Most Recent</a>
        <a class="nav-link" href="#spotlight" data-toggle="pill">Spotlight</a>
        <a class="nav-link" href="#videos" data-toggle="pill">Videos</a>
        <a class="nav-link" href="#news" data-toggle="pill">News</a>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="mostRecent" role="tabpanel">
          <div class="card-columns">
            <div class="card">
              <img class="card-img-top img-fluid" src="../images/blog/image_blog_1.png" alt="Card image cap">
              <div class="row blog-share-date">
                <div class="col-sm-6"><span>February 1, 2018</span></div>
                <div class="col-sm-6 text-right"><a href="" class=""><img src="../images/icons/icon_share.svg" alt="share" height="19px" class="mr-2"></a></div>
              </div>
              <div class="card-block">
                <h4 class="card-title blog-header">Partially Enclosed Building</h4>
                <p class="card-text">When you’re looking to purchase a metal building, your first concern is the durability of the unit. But you also need a way to offer…</p>
                <a href="whats_new_blog.html" class="btn btn-danger text-white">Read More</a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top img-fluid" src="../images/blog/image_blog_2.png" alt="Card image cap">
              <div class="row blog-share-date">
                <div class="col-sm-6"><span>January 23, 2018</span></div>
                <div class="col-sm-6 text-right"><a href="" class=""><img src="../images/icons/icon_share.svg" alt="share" height="19px" class="mr-2"></a></div>
              </div>
              <div class="card-block">
                <h4 class="card-title blog-header">Metal Garage with Skylights</h4>
                <p class="card-text">As we all know, illumination is very important when it comes to metal buildings, especially fully enclosed ones…</p>
                <a href="" class="btn btn-danger text-white">Read More</a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top img-fluid" src="../images/blog/image_blog_3.png" alt="Card image cap">
              <div class="row blog-share-date">
                <div class="col-sm-6"><span>November 6, 2017</span></div>
                <div class="col-sm-6 text-right"><a href="" class=""><img src="../images/icons/icon_share.svg" alt="share" height="19px" class="mr-2"></a></div>
              </div>
              <div class="card-block">
                <h4 class="card-title blog-header">Metal Garage in New Mexico</h4>
                <p class="card-text">Allow your metal building to withstand all seasons with no problem at all! When it comes to protection for your vehicle, there are many…</p>
                <a href="" class="btn btn-danger text-white">Read More</a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top img-fluid" src="../images/blog/image_blog_4.png" alt="Card image cap">
              <div class="row blog-share-date">
                <div class="col-sm-6"><span>July 7, 2017</span></div>
                <div class="col-sm-6 text-right"><a href="" class=""><img src="../images/icons/icon_share.svg" alt="share" height="19px" class="mr-2"></a></div>
              </div>
              <div class="card-block">
                <h4 class="card-title blog-header">Metal Garage for 2 Vehicles</h4>
                <p class="card-text">Whether in the city or the country, American Steel Carports will deliver your building wherever you need it. We count on our well-trained installers…</p>
                <a href="" class="btn btn-danger text-white">Read More</a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top img-fluid" src="../images/blog/image_blog_5.png" alt="Card image cap">
              <div class="row blog-share-date">
                <div class="col-sm-6"><span>June 19, 2017</span></div>
                <div class="col-sm-6 text-right"><a href="" class=""><img src="../images/icons/icon_share.svg" alt="share" height="19px" class="mr-2"></a></div>
              </div>
              <div class="card-block">
                <h4 class="card-title blog-header">Card title that wraps to a new line</h4>
                <p class="card-text">At American Steel Carports, we want to accommodate all your needs. When it comes to carports, there are many ways to customize your…</p>
                <a href="" class="btn btn-danger text-white">Read More</a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top img-fluid" src="../images/blog/image_blog_6.png" alt="Card image cap">
              <div class="row blog-share-date">
                <div class="col-sm-6"><span>March 23, 2017</span></div>
                <div class="col-sm-6 text-right"><a href="" class=""><img src="../images/icons/icon_share.svg" alt="share" height="19px" class="mr-2"></a></div>
              </div>
              <div class="card-block">
                <h4 class="card-title blog-header">Get Your Metal Garage Today!</h4>
                <p class="card-text">Customization is the key to success when it comes to metal buildings. With many ideas and designs to choose from, we let our customer decide and…</p>
                <a href="" class="btn btn-danger text-white">Read More</a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top img-fluid" src="../images/blog/image_blog_7.png" alt="Card image cap">
              <div class="row blog-share-date">
                <div class="col-sm-6"><span>February 25, 2017</span></div>
                <div class="col-sm-6 text-right"><a href="" class=""><img src="../images/icons/icon_share.svg" alt="share" height="19px" class="mr-2"></a></div>
              </div>
              <div class="card-block">
                <h4 class="card-title blog-header">14′ Tall Metal Carport</h4>
                <p class="card-text">Looking for a simple carport for your RV? Does your RV overpass the 12-foot standard height from the flyers? At American Steel Carports, we ensure that…</p>
                <a href="" class="btn btn-danger text-white">Read More</a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top img-fluid" src="../images/blog/image_blog_8.png" alt="Card image cap">
              <div class="row blog-share-date">
                <div class="col-sm-6"><span>January 20, 2017</span></div>
                <div class="col-sm-6 text-right"><a href="" class=""><img src="../images/icons/icon_share.svg" alt="share" height="19px" class="mr-2"></a></div>
              </div>
              <div class="card-block">
                <h4 class="card-title blog-header">Standard Garage</h4>
                <p class="card-text">Whether the purpose of your metal building is to store your vehicle or your belongings, American Steel Carports will provide you with the highest…</p>
                <a href="" class="btn btn-danger text-white">Read More</a>
              </div>
            </div>

          </div>
        </div>

        <div class="tab-pane" id="spotlight" role="tabpanel">spot light</div>
        <div class="tab-pane" id="videos" role="tabpanel">videos</div>
        <div class="tab-pane" id="news" role="tabpanel">news</div>
      </div> <!-- tab panel -->
      
    </div><!-- container -->
  </section>
  <hr class="divder my-0">

  <section class="bg-grey py-60">
    <h2 class="text-danger dealer-heading text-center mt-0 mb-2">Questions?</h2>
    <p class="text-center mb-5">Don’t hesitate. Call now!</p>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 d-inline-flex justify-content-center">
          <div class="media">
            <img class="d-flex align-self-center mr-3" src="../images/icons/icon_call.svg" height="36px" alt="Generic placeholder image">
            <div class="media-body">
              <p class="mb-0">For Customer Service</p>
              <h5 class="toll-free-number my-0 text-danger">866. 730. 9865</h5>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 d-inline-flex justify-content-center">
          <div class="media">
            <img class="d-flex align-self-center mr-3" src="../images/icons/icon_call.svg" height="36px" alt="Generic placeholder image">
            <div class="media-body">
              <p class="mb-0">For Sales Representative</p>
              <h5 class="toll-free-number my-0 text-danger">866. 471. 8761</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class="divider my-0">

    <footer class="footer">
    <div class="footer-social-links text-center py-30">
      <img src="../images/icons/icon_facebook.svg" alt="facebook" height="40px" class="mx-2">
      <img src="../images/icons/icon_twitter.svg" alt="twitter" height="40px" class="mx-2">
      <img src="../images/icons/icon_google+.svg" alt="google+" height="40px" class="mx-2">
      <img src="../images/icons/icon_youtube.svg" alt="youtube" height="40px" class="mx-2">
      <img src="../images/icons/icon_pinterest.svg" alt="pintrest" height="40px" class="mx-2">
      <img src="../images/icons/icon_instagram.svg" alt="instagram" height="40px" class="mx-2">
    </div>
    <div class="footer-nav-links d-flex flex-row">
      <ul class="list-inline mb-0 align-self-center">
        <li><img src="../images/icons/icon_footer_logo1.png" alt="logo"></li>
      </ul>
      <ul class="list-inline mb-0">
        <li><a href="about.html">About</a></li>
        <li><a href="our_company.html">Our Company</a></li>
        <li><a href="">Logos & Templates</a></li>
        <li><a href="customer_service.html">Customer Service</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="product.html">Product</a></li>
        <li><a href="features.html">Features</a></li>
        <li><a href="">Build & Price</a></li>
        <li><a href="">Estimate</a></li>
        <li><a href="faq.html">FAQ</a></li>
      </ul>

      <ul class="list-inline mb-0">
        <li><a href="careers.html">Careers</a></li>
        <li><a href="">Job Listings</a></li>
        <li><a href="">Interview Tips</a></li>
        <li><a href="">Benefits</a></li>
      </ul>
      
      <ul class="list-inline mb-0">
        <li><a href="contact.html">Contact</a></li>
        <li>457 North Broadway Street</li>
        <li> Joshua, TX 76058</li>
        <li> Phone: (866) 730-9865</li>
        <li> Fax: (888) 853-1805</li>
      </ul>

      <ul class="list-inline mb-0 align-self-center">
        <li><img src="../images/icons/icon_footer_logo2.png" alt="verified"></li>
      </ul>
    </div>
    <div class="footer-copyright d-flex flex-row">
      <ul class="list-inline mb-0">
        <li>Copyright © 2018 American Steel Carports Inc., All Rights Reserved</li>
      </ul>
      <ul class="list-inline mb-0 terms-privacy">
        <li class="d-inline-flex"><a href="terms.html">Terms</a></li>
        <li class="d-inline-flex"><a href="privacy_policy.html">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>

  <!-- login modal starts -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header mx-auto px-0 border-bottom-0">
          <h5 class="modal-title text-danger dealer-heading mb-2" id="loginModal">Dealer Login</h5>
        </div>

        <div class="modal-body">
          <form  class="px-5">
            <div class="form-group">
              <label for="loginUserName">User Name or Email</label>
              <input type="text" class="form-control" id="loginUserName" name="loginUserName">
            </div>
            <div class="form-group">
              <label for="loginpassword">Password <sup class="text-danger">*</sup></label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword" required="required">
            </div>
            <a href="#" class="text-danger">Forgot Password?</a>
            <div class="clearfix"></div>

            <div class="float-right mt-4">
              <button class="btn btn-grey mr-3 px-4"  data-dismiss="modal">Cancel</button>
              <button class="btn btn-danger px-4" data-toggle="modal" data-target="#completeProfile">Submit</button>
            </div>  
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <p class="mb-0">Not a dealer yet? <a href="<?php echo get_page_link( get_page_by_title( BecomeDealer )->ID ); ?>" class="text-danger"> Become a dealer </a></p>
        </div>
        <div class="modal-footer justify-content-center">
          <div class="media">
            <img class="d-flex mr-3 align-self-center" src="../images/logo_red.png" alt="">
            <div class="media-body">
              Disclaimer:We do not give out individual information such as telephone numbers, addresses, screen names or email addresses, unless specifically authorized to do so or compelled by valid court order.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- complete profile modal  -->
  <div class="modal fade" id="completeProfile" tabindex="-1" role="dialog" aria-labelledby="completeProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0 text-center">
          <h5 class="modal-title text-danger dealer-heading mb-0" id="completeProfileModalLabel">Company Profile</h5>
        </div>
        <div class="modal-body">
          <p class="text-center mb-0">Complete your company profile</p>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-grey " data-dismiss="modal">Not now</button>
          <button type="button" class="btn btn-danger px-4 ml-3">Ok</button>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../js/jquery-3.1.1.slim.min.js"></script>
  <script src="../js/tether.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/custom.js"></script>
  
</body>
</html>
