<!doctype html>
<html lang="en">
<head>
	<title>American Steel</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<nav class="navbar navbar-toggleable-md custom-primary-header" style="background-image: url('../images/banner/header_dealer.svg');">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#primaryNavDropdown" aria-controls="primaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#"></a>
		<div class="collapse navbar-collapse" id="primaryNavDropdown">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown dealer-dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dealers
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" data-toggle="modal" data-target="#loginModal">Login</a>
						<a class="dropdown-item" href="become_dealer.html">Become a Dealer</a>
						<a class="dropdown-item" href="find_dealer.html">Find a Dealer</a>
					</div>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="service_area.html">Service Area</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="whats_new.html">What’s New!</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
	</nav>

	<nav class="navbar navbar-toggleable-md custom-secondary-header">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#secondaryNavDropdown" aria-controls="secondaryNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand hidden-md-up" href="/"><img src="../images/logo_red.png" height="50px"></a>
		<a class="navbar-brand hidden-sm-down" href="/"><img src="../images/logo_header.png" height="66px"></a>
		<div class="navigation-menu">
			<ul class="navbar-nav d-flex justify-content-between justify-content-md-end customer-service">
				<li class="nav-item">
					<a class="nav-link pb-0 py-md-2"" href="tel:(866) 730-8865">Customer Service (866) 730-8865</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pb-0 py-md-2"" href="tel:(866) 471-8761">Online Sales (866) 471-8761</a>
				</li>
			</ul>
			<div class="collapse navbar-collapse" id="secondaryNavDropdown">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="products.html">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="build_price.html">Build & Price</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="features.html">Features</a>
					</li>
				</ul>
				<form role="search" class="form-inline my-2 my-lg-0 searchform" >
					<input type="text" class="form-control form-control-search" placeholder="Search here…" required/>
					<button type="submit" id="searchsubmit" class="btn btn-danger my-2 my-sm-0 ml-3">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="whats_new.html">What’s New</a></li>
		<li class="breadcrumb-item active">Partially Enclosed Building</li>
	</ol>
	<h2 class="text-danger dealer-heading text-center py-40 mb-0">American Steel Blog</h2>
	<section class="py-60">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 blog-left-panel">
					<div style="background-image: url(../images/products/open_horizontal_carport_detailed.png);" class="blog-banner"></div>
					<div class="media py-30">
						<div class="media-body">
							<h5 class="mt-0 mb-1 text-danger price">14′ Tall Metal Carport</h5>
							<p class="mb-0">February 25, 2017</p> 
						</div>
						<img class="d-inline-flex ml-3" src="../images/icons/icon_facebook_share.svg" alt="fb" height="28px">
						<img class="d-inline-flex ml-3" src="../images/icons/icon_twitter_share.svg" alt="fb" height="28px">
						<img class="d-inline-flex ml-3" src="../images/icons/icon_g+_share.svg" alt="fb" height="28px">
					</div>
					<p class="mb-0">Looking for a simple carport for your RV? Does your RV overpass the 12-foot standard height from the flyers?</p>
					<p class="py-30 mb-0 pb-0">At American Steel Carports, we ensure that our metal buildings meet all of your expectations and needs. We can accommodate your requirements, especially when it comes to building permits. Keep in mind that we can add as much material as your unit needs in order to make sure it’s fully protected and certified for the requirements of the city. However, it’s important for you to go to your local building department and talk to them in order to verify all of the state codes. Since all of the states have different requirements when it comes to installations, they might need to see plans or specifics.</p>
					<p class="py-30 mb-0"> When our customers look for metal RV covers, they can be concerned when the leg height that they’re looking for isn’t listed on the pricing flyers. But that doesn’t mean that we cannot go taller than 12 feet; in fact, the tallest we can go on a building is 20 feet in height. However, keep in mind that the leg height cannot exceed the width of the unit.</p>

					<ul class="list-of-needs pl-3">
						<li>30’w x 41’l x 14’h</li>
						<li>12-Gauge Galvanized Tubing</li>
						<li>A-Frame Vertical Roof</li>
					</ul>

					<div class="row">
						<div class="col-md-3"><div class="blog-img-thumbnail" style="background-image: url('../images/blog/image_blog_detail_1.png');"></div></div>
						<div class="col-md-3"><div class="blog-img-thumbnail" style="background-image: url('../images/blog/image_blog_detail_2.png');"></div></div>
						<div class="col-md-3"><div class="blog-img-thumbnail" style="background-image: url('../images/blog/image_blog_detail_3.png');"></div></div>
						<div class="col-md-3"><div class="blog-img-thumbnail" style="background-image: url('../images/blog/image_blog_detail_4.png');"></div></div>
						<div class="col-md-3"><div class="blog-img-thumbnail" style="background-image: url('../images/blog/image_blog_detail_5.png');"></div></div>
						<div class="col-md-3"><div class="blog-img-thumbnail" style="background-image: url('../images/blog/image_blog_detail_6.png');"></div></div>
						<div class="col-md-3"><div class="blog-img-thumbnail" style="background-image: url('../images/blog/image_blog_detail_7.png');"></div></div>
						<div class="col-md-3"><div class="blog-img-thumbnail" style="background-image: url('../images/blog/image_blog_detail_8.png');"></div></div>
					</div>
					<p class="mb-0">All of our metal units are engineer-certified, and with their one-year workmanship warranty, we allow our buildings to go through all four seasons to make sure that they don’t have any leaks or issues.</p>
					<p class="py-30 mb-0 pb-0"> Give us a call! If wind and/or snow loads are your main concerns, don’t forget to ask our representatives about our wind warranties and how we can certify your unit when it comes to large amounts of snow.</p>
					<p class="py-30 mb-0 pb-0"> Need more ideas? Click on our carports section for more ideas and designs.</p>
					<p class="py-30 mb-0 pb-0">*<span class="text-danger">Disclaimer</span>: Prices are subject to change at any time without notice. Please contact our sales department for our latest prices.</p>

					<div class="py-30">
						<img class="d-inline-flex" src="../images/icons/icon_facebook_share.svg" alt="fb" height="28px">
						<img class="d-inline-flex ml-3" src="../images/icons/icon_twitter_share.svg" alt="fb" height="28px">
						<img class="d-inline-flex ml-3" src="../images/icons/icon_g+_share.svg" alt="fb" height="28px">
					</div>

					<div class="py-30">
						<ul class="list-inline d-flex justify-content-between old-new-post">
							<li><a href=""><img src="../images/icons/icon_arrow_left.svg" height="16px"><span>Old Post</span></a></li>
							<li><a href=""><span>Next Post</span><img src="../images/icons/icon_arrow_right.svg" height="16px"></a></li>
						</ul>
					</div>
					
				</div><!-- blog-left-panel -->
				<div class="col-md-4 col-lg-3  blog-right-panel">
					<div class="bg-light-grey text-center">
						<h5 class="dealer-heading mb-0 text-center blog-heading text-capitalize">Search</h5>
					</div>
					<div class="input-group my-4">
						<input type="text" class="form-control form-control-search" placeholder="Search" aria-describedby="basic-addon2">
						<span class="input-group-addon btn btn-danger p-2 ml-3" id="basic-addon2">Search</span>
					</div>
					<div class="py-60">
						<ul class="bg-light-grey text-center list-inline category">
							<li><span class="blog-heading">CATEGORIES</span></li>
							<li><a href="whats_new.html">Most Recent</a></li>
							<li><a href="whats_new.html">Spotlight</a></li>
							<li><a href="whats_new.html">News</a></li>
							<li><a href="whats_new.html">Videos</a></li>
						</ul>
					</div>
					
					<ul class="bg-light-grey text-center list-inline category">
						<li><span class="blog-heading">OUR BROCHURE</span></li>
						<li><a href="">Download Brochure</a></li>
						<li><a href="">Download Doc Brochure</a></li>
					</ul>
					
					<div class="py-60">
						<ul class="bg-light-grey list-inline category">
							<li><span class="blog-heading">RECENT POSTS</span></li>
							<li>
								<a href="">
									<div class="media">
										<div class="d-flex align-self-center mr-3 recent-post-blog-image" style="background-image: url('../images/blog/image_blog_1.png')" ></div>
										<div class="media-body align-self-center">
											<h6 class="my-0">Get Your Metal Garage Today!</h6>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="media">
										<div class="d-flex align-self-center mr-3 recent-post-blog-image" style="background-image: url('../images/blog/image_blog_3.png')" ></div>
										<div class="media-body align-self-center">
											<h6 class="my-0">All Vertical Garage</h6>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div><!-- blog-right-panel -->
			</div>
		</div>
	</section>
	<hr class="divider my-0">

	<section class="py-60">
		<div class="container blog-media">
			<div class="media">
				<div class="d-flex align-self-center mr-3 blog-post-person" style="background-image: url('../images/blog/image_person_blog_detail_1.png');"></div>
				<div class="media-body align-self-center">
					<h5 class="mt-0 blog-heading"><span>By Kelvin</span><span>20 July</span><span>10:30 am</span></h5>
					<p class="mb-0">On the other hand, we denounce with righteous indignation and dislike men who are souiled demoralized On the er hand, we denounce with pain and trouble that are bound.</p>
				</div>
			</div>
			<div class="media">
				<div class="d-flex align-self-center mr-3 blog-post-person" style="background-image: url('../images/blog/image_person_blog_detail_2.png');"></div>
				<div class="media-body align-self-center">
					<h5 class="mt-0 blog-heading"><span>By Kelvin</span><span>20 July</span><span>10:30 am</span></h5>
					<p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</div>
			</div>
			<div class="media">
				<div class="d-flex align-self-center mr-3 blog-post-person" style="background-image: url('../images/blog/image_person_blog_detail_3.png');"></div>
				<div class="media-body align-self-center">
					<h5 class="mt-0 blog-heading"><span>By Kelvin</span><span>20 July</span><span>10:30 am</span></h5>
					<p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="py-60 bg-grey">
		<div class="container blog-recently-viewed">
			<h2 class="text-danger dealer-heading text-center">you may also like</h2>
			<div class="row">
				<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
					<div class="card">
						<div class="card-img-top" style="background-image: url('../images/banner/Recently_viewed_wides_1.png');"></div>
						<div class="card-block">
							<h4 class="card-title">Product: Wides – 1</h4>
							<div class="d-flex justify-content-between">
								<span class="text-danger align-self-center">$ 1088</span>
								<a href="#" class="btn btn-danger py-1 px-2">Modify Build</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
					<div class="card">
						<div class="card-img-top" style="background-image: url('../images/banner/Recently_viewed_loafing_sheds.png');"></div>
						<div class="card-block">
							<h4 class="card-title">Product: Wides – 1</h4>
							<div class="d-flex justify-content-between">
								<span class="text-danger align-self-center">$ 1088</span>
								<a href="#" class="btn btn-danger py-1 px-2">Modify Build</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
					<div class="card">
						<div class="card-img-top" style="background-image: url('../images/banner/Recently_viewed_agricultural_steel_barns.png');"></div>
						<div class="card-block">
							<h4 class="card-title">Product: Wides – 1</h4>
							<div class="d-flex justify-content-between">
								<span class="text-danger align-self-center">$ 1088</span>
								<a href="#" class="btn btn-danger py-1 px-2">Modify Build</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
					<div class="card">
						<div class="card-img-top" style="background-image: url('../images/banner/Recently_viewed_wides_1.png');"></div>
						<div class="card-block">
							<h4 class="card-title">Product: Wides – 1</h4>
							<div class="d-flex justify-content-between">
								<span class="text-danger align-self-center">$ 1088</span>
								<a href="#" class="btn btn-danger py-1 px-2">Modify Build</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	
	<footer class="footer">
		<div class="footer-social-links text-center py-30">
			<img src="../images/icons/icon_facebook.svg" alt="facebook" height="40px" class="mx-2">
			<img src="../images/icons/icon_twitter.svg" alt="twitter" height="40px" class="mx-2">
			<img src="../images/icons/icon_google+.svg" alt="google+" height="40px" class="mx-2">
			<img src="../images/icons/icon_youtube.svg" alt="youtube" height="40px" class="mx-2">
			<img src="../images/icons/icon_pinterest.svg" alt="pintrest" height="40px" class="mx-2">
			<img src="../images/icons/icon_instagram.svg" alt="instagram" height="40px" class="mx-2">
		</div>
		<div class="footer-nav-links d-flex flex-row">
			<ul class="list-inline mb-0 align-self-center">
				<li><img src="../images/icons/icon_footer_logo1.png" alt="logo"></li>
			</ul>
			<ul class="list-inline mb-0">
				<li><a href="about.html">About</a></li>
				<li><a href="our_company.html">Our Company</a></li>
				<li><a href="">Logos & Templates</a></li>
				<li><a href="customer_service.html">Customer Service</a></li>
			</ul>

			<ul class="list-inline mb-0">
				<li><a href="product.html">Product</a></li>
				<li><a href="features.html">Features</a></li>
				<li><a href="">Build & Price</a></li>
				<li><a href="">Estimate</a></li>
				<li><a href="faq.html">FAQ</a></li>
			</ul>

			<ul class="list-inline mb-0">
				<li><a href="careers.html">Careers</a></li>
				<li><a href="">Job Listings</a></li>
				<li><a href="">Interview Tips</a></li>
				<li><a href="">Benefits</a></li>
			</ul>
			
			<ul class="list-inline mb-0">
				<li><a href="contact.html">Contact</a></li>
				<li>457 North Broadway Street</li>
				<li> Joshua, TX 76058</li>
				<li> Phone: (866) 730-9865</li>
				<li> Fax: (888) 853-1805</li>
			</ul>

			<ul class="list-inline mb-0 align-self-center">
				<li><img src="../images/icons/icon_footer_logo2.png" alt="verified"></li>
			</ul>
		</div>
		<div class="footer-copyright d-flex flex-row">
			<ul class="list-inline mb-0">
				<li>Copyright © 2018 American Steel Carports Inc., All Rights Reserved</li>
			</ul>
			<ul class="list-inline mb-0 terms-privacy">
				<li class="d-inline-flex"><a href="terms.html">Terms</a></li>
				<li class="d-inline-flex"><a href="privacy_policy.html">Privacy Policy</a></li>
			</ul>
		</div>
	</footer>

	<!-- login modal starts -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mx-auto px-0 border-bottom-0">
					<h5 class="modal-title text-danger dealer-heading mb-2" id="loginModal">Dealer Login</h5>
				</div>

				<div class="modal-body">
					<form  class="px-5">
						<div class="form-group">
							<label for="loginUserName">User Name or Email</label>
							<input type="text" class="form-control" id="loginUserName" name="loginUserName">
						</div>
						<div class="form-group">
							<label for="loginpassword">Password <sup class="text-danger">*</sup></label>
							<input type="password" class="form-control" id="loginpassword" name="loginpassword" required="required">
						</div>
						<a href="#" class="text-danger">Forgot Password?</a>
						<div class="clearfix"></div>

						<div class="float-right mt-4">
							<button class="btn btn-grey mr-3 px-4"  data-dismiss="modal">Cancel</button>
							<button class="btn btn-danger px-4" data-toggle="modal" data-target="#completeProfile">Submit</button>
						</div>  
					</form>
				</div>
				<div class="modal-footer justify-content-center">
					<p class="mb-0">Not a dealer yet? <a href="<?php echo get_page_link( get_page_by_title( BecomeDealer )->ID ); ?>" class="text-danger"> Become a dealer </a></p>
				</div>
				<div class="modal-footer justify-content-center">
					<div class="media">
						<img class="d-flex mr-3 align-self-center" src="../images/logo_red.png" alt="">
						<div class="media-body">
							Disclaimer:We do not give out individual information such as telephone numbers, addresses, screen names or email addresses, unless specifically authorized to do so or compelled by valid court order.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- complete profile modal  -->
	<div class="modal fade" id="completeProfile" tabindex="-1" role="dialog" aria-labelledby="completeProfileModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header border-bottom-0 text-center">
					<h5 class="modal-title text-danger dealer-heading mb-0" id="completeProfileModalLabel">Company Profile</h5>
				</div>
				<div class="modal-body">
					<p class="text-center mb-0">Complete your company profile</p>
				</div>
				<div class="modal-footer border-top-0">
					<button type="button" class="btn btn-grey " data-dismiss="modal">Not now</button>
					<button type="button" class="btn btn-danger px-4 ml-3">Ok</button>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="../js/jquery-3.1.1.slim.min.js"></script>
	<script src="../js/tether.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/custom.js"></script>

</body>
</html>